<!DOCTYPE html>
<html lang="es">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="../resources/css/styles.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <!--Importando las fuentes de google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!--Icono del sitio web-->
    <link rel="icon" href="../resources/icons/icono-web.png">
</head>

<body>
    <header>
        <div class="navbar-fixed" id="personalized-scroll">
            <nav class="navbar-contenedor z-depth-3">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo center titulo-nav"><span>Archivos subidos</span></a>
                    <a href="#" data-target="side-navbarcont" class="sidenav-trigger"><i
                            class="material-icons menuicon-navbar">menu</i></a>
                    <ul class="right hide-on-small-and-down opciones-navbar">
                        <li><a class="waves-effect waves-light tooltipped" data-position="bottom"
                                data-tooltip="Ver el perfil" href="login.html" id="username-navbar">User1<i
                                    class="material-icons right usericon-apartadot">person</i></a>
                        </li>
                        <li><a href="badges.html" class="logout-navbar tooltipped" data-position="bottom"
                                data-tooltip="Cerrar Sesión"><img class="responsive-img"
                                    src="../resources/icons/logout-icon-navbar.png"></a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <ul id="side-navbarcont" class="sidenav sidenav-fixed ">

            <li>
                <div class="icono-sidenav">
                    <img class="responsive-image" src="../resources/img/logo-sidenav.png">
                </div>
            </li>
            <li>
                <div class="menuopciones-sidenav">
                    <a class="row waves-effect  botones-sidenav" href="empleados.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/empleados-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Empleados
                        </div>
                    </a>
                    <a class="row waves-effect  botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/archivossub-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Archivos Subidos
                        </div>
                    </a>
                    <a class="row waves-effect  botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/empresas-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Empresas
                        </div>
                    </a>
                    <a class="row waves-effect hide-on-med-and-up botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img user-icon" src="../resources/icons/user-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav-nav">
                            <span>user1</span>
                        </div>
                    </a>
                    <a class="row waves-effect hide-on-med-and-up botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img user-icon" src="../resources/icons//logout-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav-nav">
                            Cerrar Sesión
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </header>
    <main>
        <div class="row upload-files-section">
            <!-- Parte de arriba donde muestra la parte de volver a la página de atrás y el buscador -->
            <div class="col s3">
                <div class="direction">
                    <p>Volver | </p><img src="../resources/icons/home-icon.png" alt="">
                    <p> > Archivos subidos</p>
                </div>
            </div>
            <div class="col s9">
                <div class="row">
                    <div class="col offset-s2 s4">
                        <div class="file-searcher">
                            <img class="responsive-img" src="../resources/icons/search-icon.png" alt="">
                            <input id="input-file" type="text" placeholder="Buscar archivo">
                        </div>
                    </div>
                    <div class="col s5">
                        <a class="btn-add btn"><i class="material-icons left">add</i>Añadir archivo</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row upload-files">
            <div class="col s3 search-box">
                <div class="wrapper">
                    <div class="search-input">
                        <div class="company-search-box">
                            <input type="text" placeholder="Buscar empresa" id="company-searcher">
                            <img class="responsive-img" src="../resources/icons/search-icon.png" alt="">
                        </div>
                        <div class="autocom-box">
                            <li>Alibaba Grpdr</li>
                            <li>Legify</li>
                            <li>Tencent</li>
                            <li>Lolin</li>
                            <li>Visa Inc</li>
                            <li>ICBC</li>
                            <li>Bank Of America</li>
                            <li>Samsung Electron</li>
                            <li>Home Depot Inc</li>
                            <li>Tencent</li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6 container">
                <div class="file-container">
                    <div class="file-name">
                        <img src="../resources/icons/file-icon.png" alt="">
                        <p class="title-name">Haciendo.xml</p>
                    </div>
                    <div class="file-options">

                    </div>
                </div>
                <div class="file-container">
                    <div class="file-name">
                        <img src="../resources/icons/file-icon.png" alt="">
                        <p class="title-name">Haciendo.xml</p>
                    </div>
                    <div class="file-options">

                    </div>
                </div>
                <div class="file-container">
                    <div class="file-name">
                        <img src="../resources/icons/file-icon.png" alt="">
                        <p class="title-name">Haciendo.xml</p>
                    </div>
                    <div class="file-options">

                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col s2 offset-s2 m2 offset-m2 l1 offset-l4 center" id="contenedor-botonnavg">
                    <div class="botonnavg-footer center">
                        <a class="tooltipped" data-position="left" data-tooltip="Regresar página anterior"><i
                                class="material-icons medium">chevron_left</i></a>
                    </div>
                </div>
                <div class="col s2 m2 l1 center" id="contenedor-botonnavg">
                    <div class="botonnavg-footer center">
                        <a><span>1</span></a>
                    </div>
                </div>
                <div class="col s2  m2 l1 center" id="contenedor-botonnavg">
                    <div class="botonnavg-footer center">
                        <a><span>2</span></a>
                    </div>
                </div>
                <div class="col s2 m2 l1 center" id="contenedor-botonnavg">
                    <div class="botonnavg-footer center">
                        <a><span>...</span></a>
                    </div>
                </div>
                <div class="col s2 m2 l1 center" id="contenedor-botonnavg">
                    <div class="botonnavg-footer center">
                        <a class="tooltipped" data-position="right" data-tooltip="Página siguiente"><i
                                class="material-icons medium">chevron_right</i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="../controllers/plantilla.js"></script>
</body>

</html>