<!DOCTYPE html>
<html lang="es">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="../resources/css/styles.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <!--Importando las fuentes de google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!--Icono del sitio web-->
    <link rel="icon" href="../resources/icons/icono-web.png">
</head>

<body>
    <header>
        <div class="navbar-fixed" id="personalized-scroll">
            <nav class="navbar-contenedor z-depth-3">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo center titulo-nav"><span>Empleados</span></a>
                    <a href="#" data-target="side-navbarcont" class="sidenav-trigger"><i
                            class="material-icons menuicon-navbar">menu</i></a>
                    <ul class="right hide-on-small-and-down opciones-navbar">
                        <li><a class="waves-effect waves-light tooltipped" data-position="bottom"
                                data-tooltip="Ver el perfil" href="login.html" id="username-navbar">User1<i
                                    class="material-icons right usericon-apartadot">person</i></a>
                        </li>
                        <li><a href="badges.html" class="logout-navbar tooltipped" data-position="bottom"
                                data-tooltip="Cerrar Sesión"><img class="responsive-img"
                                    src="../resources/icons/logout-icon-navbar.png"></a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <ul id="side-navbarcont" class="sidenav sidenav-fixed ">

            <li>
                <div class="icono-sidenav">
                    <img class="responsive-image" src="../resources/img/logo-sidenav.png">
                </div>
            </li>
            <li>
                <div class="menuopciones-sidenav">
                    <a class="row waves-effect  botones-sidenav" href="empleados.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/empleados-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Empleados
                        </div>
                    </a>
                    <a class="row waves-effect  botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/archivossub-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Archivos Subidos
                        </div>
                    </a>
                    <a class="row waves-effect  botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/empresas-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Empresas
                        </div>
                    </a>
                    <a class="row waves-effect hide-on-med-and-up botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img user-icon" src="../resources/icons/user-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav-nav">
                            <span>user1</span>
                        </div>
                    </a>
                    <a class="row waves-effect hide-on-med-and-up botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img user-icon" src="../resources/icons//logout-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav-nav">
                            Cerrar Sesión
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </header>
    <main>
        <!--Modal de Añadir Archivo-->
        <div id="anadir-empleado" class="modal">
            <div class="modal-content">
                <!--Titulo del modal-->
                <h4 class="center-align">Añadir empleado</h4>
                <!--Formulario para añadir una empresa-->
                <form method="post">
                    <!--Fila del formulario-->
                    <div class="row filaform-archivo">
                        <!--Nombre de la empresa-->
                        <div class="input-field col s12 m10 offset-m1 l6">
                            <input placeholder="Usuario" id="nombre-arch" type="text"
                                class="validate  inputs-añadirempr">
                            <label for="empresa-empr" class="labels-anadirempr">Usuario</label>
                        </div>
                        <div class="input-field col s12 m10 offset-m1 l6">
                            <input placeholder="Contraseña" id="nombre-arch" type="password"
                                class="validate  inputs-añadirempr">
                            <label for="empresa-empr" class="labels-anadirempr">Contraseña</label>
                        </div>
                        <div class="input-field col s12 m5 offset-m1 l6">
                            <input placeholder="Nombre" id="nombreempr-arch" type="text"
                                class="validate inputs-añadirempr">
                            <label for="nombreempr-arch" class="labels-anadirempr">Nombre:</label>
                        </div>
                        <!--Nombre del folder-->
                        <div class="input-field col s12 m5 l6">
                            <input placeholder="Apellidos" id="nombrefold-arch" type="text"
                                class="validate inputs-añadirempr">
                            <label for="nombrefold-arch" class="labels-anadirempr">Apellidos:</label>
                        </div>
                        <!--Nombre del Archivo-->
                        <div class="input-field col s12 m10 offset-m1 l6">
                            <input placeholder="DUI" id="nombre-arch" type="text" class="validate inputs-añadirempr">
                            <label for="empresa-empr" class="labels-anadirempr">DUI:</label>
                        </div>
                        <div class="input-field col s12 m10 offset-m1 l6">
                            <input placeholder="Teléfono" id="nombre-arch" type="text"
                                class="validate inputs-añadirempr">
                            <label for="empresa-empr" class="labels-anadirempr">Teléfono:</label>
                        </div>
                        <div class="input-field col s12 m10 offset-m1 l6">
                            <input placeholder="Correo" id="nombre-arch" type="email"
                                class="validate  inputs-añadirempr">
                            <label for="empresa-empr" class="labels-anadirempr">Correo</label>
                        </div>
                        <div class="select-tipo-empleado input-field col s12 m5 offset-m1 l6 center-align">
                            <select>
                                <option value="" disabled selected>¿Qué tipo de empleado es?</option>
                                <option value="1">Tiempo Completo</option>
                                <option value="2">Medio Tiempo</option>
                                <option value="3">Pasantía</option>
                            </select>
                            <label>Selecciona tipo de empleado</label>
                        </div>



                        <div class="progress" id="barraraprg-garch">
                            <div class="indeterminate"></div>
                        </div>

                    </div>
                </form>
                <div class="row filabtn-añadirarh">
                    <div class="center">
                        <a class="waves-effect waves-ligth btn z-depth-2" id="btn-añadirArchivoarhModal">
                            <i class="material-icons left">add</i>Añadir Empleado
                        </a>
                    </div>
                    <div class="row">
                        <div class="left col offset-s1 m5 l4">
                            <a class="waves-effect waves-ligth btn z-depth-2 modal-close cerrarModalEmpresa"
                                id="cancelar-Añadirempr">
                                <i class="material-icons left">keyboard_arrow_left</i>Regresar
                            </a>
                        </div>
                        <div class="left col s12 m7 l4 center-align mensaje-modal">
                            <h6 id="mensaje-anadirarh">¡Verifique que los campos no esten vacios!</h6>
                        </div>
                        <div class="center col s12 m3 l4" id="preloader-añadirarh">
                            <div class="preloader-wrapper active">
                                <div class="spinner-layer spinner-red-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="editar-empleado" class="modal">
            <div class="modal-content">
                <!--Titulo del modal-->
                <h4 class="center-align">Editar empleado</h4>
                <!--Formulario para añadir una empresa-->
                <form method="post">
                    <!--Fila del formulario-->
                    <div class="row filaform-archivo">
                        <!--Nombre de la empresa-->
                        <div class="input-field col s12 m10 offset-m1 l6">
                            <input placeholder="Usuario" id="nombre-arch" type="text"
                                class="validate  inputs-añadirempr">
                            <label for="empresa-empr" class="labels-anadirempr">Usuario</label>
                        </div>
                        <div class="input-field col s12 m10 offset-m1 l6">
                            <input placeholder="Contraseña" id="nombre-arch" type="password"
                                class="validate  inputs-añadirempr">
                            <label for="empresa-empr" class="labels-anadirempr">Contraseña</label>
                        </div>
                        <div class="input-field col s12 m5 offset-m1 l6">
                            <input placeholder="Nombre" id="nombreempr-arch" type="text"
                                class="validate inputs-añadirempr">
                            <label for="nombreempr-arch" class="labels-anadirempr">Nombre:</label>
                        </div>
                        <!--Nombre del folder-->
                        <div class="input-field col s12 m5 l6">
                            <input placeholder="Apellidos" id="nombrefold-arch" type="text"
                                class="validate inputs-añadirempr">
                            <label for="nombrefold-arch" class="labels-anadirempr">Apellidos:</label>
                        </div>
                        <!--Nombre del Archivo-->
                        <div class="input-field col s12 m10 offset-m1 l6">
                            <input placeholder="DUI" id="nombre-arch" type="text" class="validate inputs-añadirempr">
                            <label for="empresa-empr" class="labels-anadirempr">DUI:</label>
                        </div>
                        <div class="input-field col s12 m10 offset-m1 l6">
                            <input placeholder="Teléfono" id="nombre-arch" type="text"
                                class="validate inputs-añadirempr">
                            <label for="empresa-empr" class="labels-anadirempr">Teléfono:</label>
                        </div>
                        <div class="input-field col s12 m10 offset-m1 l6">
                            <input placeholder="Correo" id="nombre-arch" type="email"
                                class="validate  inputs-añadirempr">
                            <label for="empresa-empr" class="labels-anadirempr">Correo</label>
                        </div>
                        <div class="select-tipo-empleado input-field col s12 m5 offset-m1 l6 center-align">
                            <select>
                                <option value="" disabled selected>¿Qué tipo de empleado es?</option>
                                <option value="1">Tiempo Completo</option>
                                <option value="2">Medio Tiempo</option>
                                <option value="3">Pasantía</option>
                            </select>
                            <label>Selecciona tipo de empleado</label>
                        </div>



                        <div class="progress" id="barraraprg-garch">
                            <div class="indeterminate"></div>
                        </div>

                    </div>
                </form>
                <div class="row filabtn-añadirarh">
                    <div class="center">
                        <a class="waves-effect waves-ligth btn z-depth-2" id="btn-añadirArchivoarhModal">
                            <i class="material-icons left">add</i>Editar empleado
                        </a>
                    </div>
                    <div class="row">
                        <div class="left col offset-s1 m5 l4">
                            <a class="waves-effect waves-ligth btn z-depth-2 modal-close cerrarModalEmpresa"
                                id="cancelar-Añadirempr">
                                <i class="material-icons left">keyboard_arrow_left</i>Regresar
                            </a>
                        </div>
                        <div class="left col s12 m7 l4 center-align mensaje-modal">
                            <h6 id="mensaje-anadirarh">¡Verifique que los campos no esten vacios!</h6>
                        </div>
                        <div class="center col s12 m3 l4" id="preloader-añadirarh">
                            <div class="preloader-wrapper active">
                                <div class="spinner-layer spinner-red-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Diseño de confirmación de eliminar empleados-->
        <div id="eliminar-empleadoomodal" class="modal">
            <div class="fondo-modaldatos modal-content">
                <div class="center-align">
                    <h4>Confirmar Elminación del Empleado</h4>
                    <p>¿Desea eliminar el empleado permanentemente?</p>
                </div>
                <!--Preloader de la actualización de los datos del perdil-->
                <div class="preloader-wrapper active" id="confirmareliminarempr_preloader">
                    <div class="spinner-layer spinner-red-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <!--Contenido importante del modal-Boton de actualizar-->
                <div class="center-align">
                    <a href="#!" class="waves-effect waves-light btn center-align"
                        id="aceptareliminarempresa_boton">Eliminar
                        empleado</a>
                </div>
                <!--Pie del modal-->
                <div class="modal-footer" id="fondomodal-footer">
                    <div class="left col offset-s1 m5 l4">
                        <a class="waves-effect waves-ligth btn z-depth-2 modal-close cancelarEliminarempre"
                            id="cancelar-eliminarempr">
                            <i class="material-icons left">keyboard_arrow_left</i>Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <section class="row upload-files-section">
            <!-- Parte de arriba donde muestra la parte de volver a la página de atrás y el buscador -->
            <div class="col l3 m12">
                <div class="direction">
                    <p>Volver | </p><img src="../resources/icons/home-icon.png" alt="">
                    <p> > Empleados</p>
                </div>
            </div>
            <form action="post" class="col l12 m12 frm-employee">
                <div class="row">
                    <div class="col l6">
                        <div class="file-searcher">
                            <img class="responsive-img" src="../resources/icons/search-icon.png" alt="">
                            <input id="input-file" type="text" placeholder="Buscar empleados">
                        </div>
                    </div>
                    <div class="col l6">
                        <a class="btn-add btn modal-trigger" href="#anadir-empleado"><i
                                class="material-icons left">add</i>Añadir
                            empleado</a>
                    </div>
                </div>
            </form>
        </section>
        <section class="employee-cards row center-align">
            <div class="col l3 m6 offset-s3 center-align offset-s3">
                <div class="card">
                    <div class="fixed-action-btn">
                        <a class="btn-floating btn-large" id="btn-puntitos">
                            <i class="large material-icons">more_horiz</i>
                        </a>
                        <ul>
                            <li><a class="btn-floating red modal-trigger" href="#eliminar-empleadoomodal"
                                    ><i class="material-icons">delete</i></a></li>
                            <li><a class="btn-floating blue modal-trigger" href="#editar-empleado"><i class="material-icons">edit</i></a></li>
                        </ul>
                    </div>

                    <div class="card-image">
                        <img src="../resources/img/employee-example.png">
                    </div>
                    <div class="card-content center">
                        <div class="name-employee">
                            <p>Ricardo Perez</p>
                        </div>
                        <div class="employee-information">
                            <div class="info">
                                <img src="../resources/icons/role.png" alt="">
                                <p>Tiempo completo</p>
                            </div>
                            <div class="info">
                                <img src="../resources/icons/email.png" alt="">
                                <p>ricardo_perez@gmail.com</p>
                            </div>
                            <div class="info">
                                <img src="../resources/icons/telephone.png" alt="">
                                <p>(+503) 7864-1341</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3 m6 offset-s3">
                <div class="card">
                    <div class="fixed-action-btn">
                        <a class="btn-floating btn-large">
                            <i class="large material-icons">more_horiz</i>
                        </a>
                        <ul>
                            <li><a class="btn-floating red modal-trigger" href="#eliminar-empleadoomodal"
                                    ><i class="material-icons">delete</i></a></li>
                            <li><a class="btn-floating blue modal-trigger" href="#editar-empleado"><i class="material-icons">edit</i></a></li>
                        </ul>
                    </div>

                    <div class="card-image">
                        <img src="../resources/img/employee-example.png">
                    </div>
                    <div class="card-content center">
                        <div class="name-employee">
                            <p>Ricardo Perez</p>
                        </div>
                        <div class="employee-information">
                            <div class="info">
                                <img src="../resources/icons/role.png" alt="">
                                <p>Tiempo completo</p>
                            </div>
                            <div class="info">
                                <img src="../resources/icons/email.png" alt="">
                                <p>ricardo_perez@gmail.com</p>
                            </div>
                            <div class="info">
                                <img src="../resources/icons/telephone.png" alt="">
                                <p>(+503) 7864-1341</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3 m6 offset-s3">
                <div class="card">
                    <div class="fixed-action-btn">
                        <a class="btn-floating btn-large">
                            <i class="large material-icons">more_horiz</i>
                        </a>
                        <ul>
                            <li><a class="btn-floating red modal-trigger" href="#eliminar-empleadoomodal"
                                    ><i class="material-icons">delete</i></a></li>
                            <li><a class="btn-floating blue modal-trigger" href="#editar-empleado"><i class="material-icons">edit</i></a></li>
                        </ul>
                    </div>

                    <div class="card-image">
                        <img src="../resources/img/employee-example.png">
                    </div>
                    <div class="card-content center">
                        <div class="name-employee">
                            <p>Ricardo Perez</p>
                        </div>
                        <div class="employee-information">
                            <div class="info">
                                <img src="../resources/icons/role.png" alt="">
                                <p>Tiempo completo</p>
                            </div>
                            <div class="info">
                                <img src="../resources/icons/email.png" alt="">
                                <p>ricardo_perez@gmail.com</p>
                            </div>
                            <div class="info">
                                <img src="../resources/icons/telephone.png" alt="">
                                <p>(+503) 7864-1341</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3 m6 offset-s3">
                <div class="card">
                    <div class="fixed-action-btn">
                        <a class="btn-floating btn-large">
                            <i class="large material-icons">more_horiz</i>
                        </a>
                        <ul>
                            <li><a class="btn-floating red modal-trigger" href="#eliminar-empleadoomodal"
                                    ><i class="material-icons">delete</i></a></li>
                            <li><a class="btn-floating blue modal-trigger" href="#editar-empleado"><i class="material-icons">edit</i></a></li>
                        </ul>
                    </div>

                    <div class="card-image">
                        <img src="../resources/img/employee-example.png">
                    </div>
                    <div class="card-content center">
                        <div class="name-employee">
                            <p>Ricardo Perez</p>
                        </div>
                        <div class="employee-information">
                            <div class="info">
                                <img src="../resources/icons/role.png" alt="">
                                <p>Tiempo completo</p>
                            </div>
                            <div class="info">
                                <img src="../resources/icons/email.png" alt="">
                                <p>ricardo_perez@gmail.com</p>
                            </div>
                            <div class="info">
                                <img src="../resources/icons/telephone.png" alt="">
                                <p>(+503) 7864-1341</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3 m6 offset-s3">
                <div class="card">
                    <div class="fixed-action-btn">
                        <a class="btn-floating btn-large">
                            <i class="large material-icons">more_horiz</i>
                        </a>
                        <ul>
                            <li><a class="btn-floating red modal-trigger" href="#eliminar-empleadoomodal"
                                    ><i class="material-icons">delete</i></a></li>
                            <li><a class="btn-floating blue modal-trigger" href="#editar-empleado"><i class="material-icons">edit</i></a></li>
                        </ul>
                    </div>

                    <div class="card-image">
                        <img src="../resources/img/employee-example.png">
                    </div>
                    <div class="card-content center">
                        <div class="name-employee">
                            <p>Ricardo Perez</p>
                        </div>
                        <div class="employee-information">
                            <div class="info">
                                <img src="../resources/icons/role.png" alt="">
                                <p>Tiempo completo</p>
                            </div>
                            <div class="info">
                                <img src="../resources/icons/email.png" alt="">
                                <p>ricardo_perez@gmail.com</p>
                            </div>
                            <div class="info">
                                <img src="../resources/icons/telephone.png" alt="">
                                <p>(+503) 7864-1341</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3 m6 offset-s3">
                <div class="card">
                    <div class="fixed-action-btn">
                        <a class="btn-floating btn-large">
                            <i class="large material-icons">more_horiz</i>
                        </a>
                        <ul>
                            <li><a class="btn-floating red modal-trigger" href="#eliminar-empleadoomodal"
                                    ><i class="material-icons">delete</i></a></li>
                            <li><a class="btn-floating blue modal-trigger" href="#editar-empleado"><i class="material-icons">edit</i></a></li>
                        </ul>
                    </div>

                    <div class="card-image">
                        <img src="../resources/img/employee-example.png">
                    </div>
                    <div class="card-content center">
                        <div class="name-employee">
                            <p>Ricardo Perez</p>
                        </div>
                        <div class="employee-information">
                            <div class="info">
                                <img src="../resources/icons/role.png" alt="">
                                <p>Tiempo completo</p>
                            </div>
                            <div class="info">
                                <img src="../resources/icons/email.png" alt="">
                                <p>ricardo_perez@gmail.com</p>
                            </div>
                            <div class="info">
                                <img src="../resources/icons/telephone.png" alt="">
                                <p>(+503) 7864-1341</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3 m6 offset-s3">
                <div class="card">
                    <div class="fixed-action-btn">
                        <a class="btn-floating btn-large">
                            <i class="large material-icons">more_horiz</i>
                        </a>
                        <ul>
                            <li><a class="btn-floating red modal-trigger" href="#eliminar-empleadoomodal"
                                    ><i class="material-icons">delete</i></a></li>
                            <li><a class="btn-floating blue modal-trigger" href="#editar-empleado"><i class="material-icons">edit</i></a></li>
                        </ul>
                    </div>

                    <div class="card-image">
                        <img src="../resources/img/employee-example.png">
                    </div>
                    <div class="card-content center">
                        <div class="name-employee">
                            <p>Ricardo Perez</p>
                        </div>
                        <div class="employee-information">
                            <div class="info">
                                <img src="../resources/icons/role.png" alt="">
                                <p>Tiempo completo</p>
                            </div>
                            <div class="info">
                                <img src="../resources/icons/email.png" alt="">
                                <p>ricardo_perez@gmail.com</p>
                            </div>
                            <div class="info">
                                <img src="../resources/icons/telephone.png" alt="">
                                <p>(+503) 7864-1341</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3 m6 offset-s3">
                <div class="card">
                    <div class="fixed-action-btn">
                        <a class="btn-floating btn-large">
                            <i class="large material-icons">more_horiz</i>
                        </a>
                        <ul>
                            <li><a class="btn-floating red modal-trigger" href="#eliminar-empleadoomodal"
                                    ><i class="material-icons">delete</i></a></li>
                            <li><a class="btn-floating blue modal-trigger" href="#editar-empleado"><i class="material-icons">edit</i></a></li>
                        </ul>
                    </div>

                    <div class="card-image">
                        <img src="../resources/img/employee-example.png">
                    </div>
                    <div class="card-content center">
                        <div class="name-employee">
                            <p>Ricardo Perez</p>
                        </div>
                        <div class="employee-information">
                            <div class="info">
                                <img src="../resources/icons/role.png" alt="">
                                <p>Tiempo completo</p>
                            </div>
                            <div class="info">
                                <img src="../resources/icons/email.png" alt="">
                                <p>ricardo_perez@gmail.com</p>
                            </div>
                            <div class="info">
                                <img src="../resources/icons/telephone.png" alt="">
                                <p>(+503) 7864-1341</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </main>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large" id="hasta_arriba">
            <i class="large material-icons">arrow_upward</i>
        </a>
        <ul>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col s2 offset-s2 m2 offset-m2 l1 offset-l4 center" id="contenedor-botonnavg">
                    <div class="botonnavg-footer center">
                        <a class="tooltipped" data-position="left" data-tooltip="Regresar página anterior"><i
                                class="material-icons medium">chevron_left</i></a>
                    </div>
                </div>
                <div class="col s2 m2 l1 center" id="contenedor-botonnavg">
                    <div class="botonnavg-footer center">
                        <a><span>1</span></a>
                    </div>
                </div>
                <div class="col s2  m2 l1 center" id="contenedor-botonnavg">
                    <div class="botonnavg-footer center">
                        <a><span>2</span></a>
                    </div>
                </div>
                <div class="col s2 m2 l1 center" id="contenedor-botonnavg">
                    <div class="botonnavg-footer center">
                        <a><span>...</span></a>
                    </div>
                </div>
                <div class="col s2 m2 l1 center" id="contenedor-botonnavg">
                    <div class="botonnavg-footer center">
                        <a class="tooltipped" data-position="right" data-tooltip="Página siguiente"><i
                                class="material-icons medium">chevron_right</i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="../resources/js/materialize.min.js"></script>
    <script src="../controllers/empleados.js"></script>
    <script src="../controllers/modals.js"></script>
</body>

</html>