<!DOCTYPE html>
<html lang="es">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="../resources/css/styles.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <!--Importando las fuentes de google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!--Icono del sitio web-->
    <link rel="icon" href="../resources/icons/icono-web.png">
    <title>FAQ</title>
</head>

<body class="inicioJ">
    <header>
        <div class="navbar-fixed">
            <nav class="navbar-contenedor z-depth-3">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo center titulo-nav"><span>FAQ</span></a>
                    <a href="#" data-target="side-navbarcont" class="sidenav-trigger"><i
                            class="material-icons menuicon-navbar">menu</i></a>
                    <ul class="right hide-on-small-and-down opciones-navbar">
                        <li><a class="waves-effect waves-light tooltipped" data-position="bottom"
                                data-tooltip="Ver el perfil" href="login.html" id="username-navbar">User1<i
                                    class="material-icons right usericon-apartadot">person</i></a>
                        </li>
                        <li><a href="badges.html" class="logout-navbar tooltipped" data-position="bottom"
                                data-tooltip="Cerrar Sesión"><img class="responsive-img"
                                    src="../resources/icons/logout-icon-navbar.png"></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul id="side-navbarcont" class="sidenav sidenav-fixed">
            <li>
                <div class="icono-sidenav">
                    <img class="responsive-image" src="../resources/img/logo-sidenav.png">
                </div>
            </li>
            <li>
                <div class="menuopciones-sidenav">
                    <a class="row waves-effect  botones-sidenav" href="empleados.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/inicio-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Inicio
                        </div>
                    </a>
                    <a class="row waves-effect  botones-sidenav" href="empleados.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/empleados-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Empleados
                        </div>
                    </a>
                    <a class="row waves-effect  botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/archivossub-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Archivos Subidos
                        </div>
                    </a>
                    <a class="row waves-effect  botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/empresas-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Empresas
                        </div>
                    </a>
                    <a class="row waves-effect hide-on-med-and-up botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img user-icon" src="../resources/icons/user-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav-nav">
                            <span>user1</span>
                        </div>
                    </a>
                    <a class="row waves-effect hide-on-med-and-up botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img user-icon" src="../resources/icons//logout-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav-nav">
                            Cerrar Sesión
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </header>
    <main>
        <section class="row upload-files-section">
            <!-- Parte de arriba donde muestra la parte de volver a la página de atrás y el buscador -->
            <div class="col l12 m12 s12 xl6 pull-xl8">
                <div class=" direction">
                    <p>Volver | </p><img src="../resources/icons/home-icon.png" alt="">
                    <p> > ????</p>
                </div>
            </div>
        </section>
        <div class="row">
         <div>
            <div class="col hide-on-small-only m4 l3 contenedorFAQmenu">
                <ul class="section table-of-contents">
                  <li><a href="#introduction" class="innerMenuFAQ">Introduction</a></li>
                  <li><a href="#structure" class="innerMenuFAQ">Structure</a></li>
                  <li><a href="#initialization" class="innerMenuFAQ">Intialization</a></li>
                  <li><a href="#introduction2" class="innerMenuFAQ">Introduction</a></li>
                  <li><a href="#structure2" class="innerMenuFAQ">Structure</a></li>
                  <li><a href="#initialization2" class="innerMenuFAQ">Intialization</a></li>
                </ul>
              </div>
         </div>

            <div class="col s12 m11 l6 contenedorFAQ">
              <div id="introduction" class="section scrollspy contenedorFAQinner">
                <h3>¿Para qué sirve la sección de FAQ?</h3>
                <p>
                    (Explicación y agregar que si su pregunta no es respondida o su problema requiere de soporte, 
                    enviar su problema por medio del botón de abajo y explicar como funciona y que se debe de agregar 
                    (fotos, comentario u descripción del problema, etc.))</p>
                <form class="frm-FQA">
                    <div class="col l12 m12 s12 xl3 ">
                        <a class="btn-add-empFAQ btn modal-trigger" href="#modal-template" onclick="openCreate()"><i
                                class="material-icons left">check</i>Get support</a>
                    </div>
                </form>    
              </div>
        
              <div id="structure" class="section scrollspy contenedorFAQinner">
                <h3>What is Shopify and how does it work?</h3>
                <p>
                Shopify is a complete commerce platform that lets you start, grow, and manage a business.
                Create and customize an online store
                Sell in multiple places, including web, mobile, social media, online marketplaces, brick-and-mortar locations, and pop-up shops </p>
              </div>
        
              <div id="initialization" class="section scrollspy contenedorFAQinner">
                <h3>What is Shopify and how does it work?</h3>
                <p>
                Shopify is a complete commerce platform that lets you start, grow, and manage a business.
                Create and customize an online store
                Sell in multiple places, including web, mobile, social media, online marketplaces, brick-and-mortar locations, and pop-up shops </p>
              </div>

              <div id="introduction2" class="section scrollspy contenedorFAQinner">
                <h3>What is Shopify and how does it work?</h3>
                <p>
                Shopify is a complete commerce platform that lets you start, grow, and manage a business.
                Create and customize an online store
                Sell in multiple places, including web, mobile, social media, online marketplaces, brick-and-mortar locations, and pop-up shops </p>
              </div>
        
              <div id="structure2" class="section scrollspy contenedorFAQinner">
                <h3>What is Shopify and how does it work?</h3>
                <p>
                Shopify is a complete commerce platform that lets you start, grow, and manage a business.
                Create and customize an online store
                Sell in multiple places, including web, mobile, social media, online marketplaces, brick-and-mortar locations, and pop-up shops </p>
              </div>
        
              <div id="initialization2" class="section scrollspy contenedorFAQinner">
                <h3>What is Shopify and how does it work?</h3>
                <p>
                Shopify is a complete commerce platform that lets you start, grow, and manage a business.
                Create and customize an online store
                Sell in multiple places, including web, mobile, social media, online marketplaces, brick-and-mortar locations, and pop-up shops </p>
              </div>
            </div>
          </div>
                
        <div id="modal-template" class="modal">
            <div class="modal-content">
                <!--Titulo del modal-->
                <h4 class="center-align" id="modal-title"></h4>
                <!--Formulario para añadir una empresa-->
                <form class="row" method="post" id="save-form" enctype="multipart/form-data" autocomplete="off">
                    <!--Fila del formulario-->
                    <div class="row filaform-archivo">
                        <!--Nombre del usuario-->
                        <div class="input-field col s12 m10 offset-m1 l6 hide" id="input-id">
                            <input name="id" id="id" type="text" class="validate  inputs-añadirempr">
                            <label for="id" class="labels-anadirempr">Id del empleado</label>
                        </div>
                        <div class="input-field col s12 m10 offset-m1 l6">
                            <input placeholder="Usuario" name="usuario-emp" id="usuario-emp" type="text"
                                class="validate  inputs-añadirempr" required>
                            <label for="usuario-emp" class="labels-anadirempr">Usuario</label>
                        </div>
                        <!--Telefono del empleado-->
                        <div class="input-field col s12 m10 offset-m1 l6">
                            <input placeholder="Teléfono" name="telefono-emp" id="telefono-emp" type="text"
                                class="validate inputs-añadirempr" required maxlength="9">
                            <label for="telefono-emp" class="labels-anadirempr">Teléfono:</label>
                        </div>
                        <!--Contraseña del usuario-->
                        <div class="input-field col s12 m10 offset-m1 l6">
                            <input placeholder="Contraseña" name="contra-emp" id="contra-emp" type="password"
                                class="validate  inputs-añadirempr" required>
                            <label for="contra-emp" class="labels-anadirempr">Contraseña</label>
                        </div>
                        <!--Contraseña del usuario-->
                        <div class="input-field col s12 m10 offset-m1 l6">
                            <input placeholder="Confirme contraseña" name="contrac-emp" id="contrac-emp" type="password"
                                class="validate  inputs-añadirempr" required>
                            <label for="ccontrac-emp" class="labels-anadirempr">Confirmar contraseña</label>
                        </div>
                        <!--Nombre del empleado-->
                        <div class="input-field col s12 m5 offset-m1 l6">
                            <input placeholder="Nombre" name="nombre-emp" id="nombre-emp" type="text"
                                class="validate inputs-añadirempr" required>
                            <label for="nombre-emp" class="labels-anadirempr">Nombre:</label>
                        </div>
                        <!--Apellidos del empleado-->
                        <div class="input-field col s12 m5 l6">
                            <input placeholder="Apellidos" name="apellido-emp" id="apellido-emp" type="text"
                                class="validate inputs-añadirempr" required>
                            <label for="apellido-emp" class="labels-anadirempr">Apellidos:</label>
                        </div>
                        <!--DUI del empleado-->
                        <div class="input-field col s12 m10 offset-m1 l6">
                            <input placeholder="DUI" name="dui-emp" id="dui-emp" type="text"
                                class="validate inputs-añadirempr" required maxlength="10">
                            <label for="dui-emp" class="labels-anadirempr">DUI:</label>
                        </div>
                        <!--Correo del empleado-->
                        <div class="input-field col s12 m10 offset-m1 l6">
                            <input placeholder="Correo" name="correo-emp" id="correo-emp" type="email"
                                class="validate  inputs-añadirempr" required>
                            <label for="correo-emp" class="labels-anadirempr">Correo</label>
                        </div>
                        <!--Tipo del empleado-->
                        <div class="select-tipo-empleado input-field col s12 m10 offset-m1 l6 center-align">
                            <!--Select box para escoger el tipo de empleado-->
                            <select id="tipo-de-empleado" name="tipo-de-empleado">
                                <option value="" disabled selected>¿Qué tipo de empleado es?</option>

                            </select>
                            <!--Label sobre tipo de empleado-->
                            <label>Selecciona tipo de empleado</label>
                        </div>
                        <!--Estado del cliente-->
                        <div class="switch col m7 l6 s12 switch-container redd" id="estado_check">
                            <span><b>Estado:&nbsp&nbsp</b></span>
                            <label class="label_check">
                                Bloqueado
                                <input type="checkbox" name="estado" class="check-color lleno" id="estadoEmp">
                                <span class="lever"></span>
                                Activo
                            </label>
                        </div>
                        <!--Barra de carga-->
                        <div class="progress" id="barraraprg-garch">
                            <div class="indeterminate"></div>
                        </div>

                    </div>
                    <div class="row filabtn-añadirarh">
                        <div class="center">
                            <button type="submit" class="waves-effect waves-ligth btn z-depth-2"
                                id="btn-añadirArchivoarhModal">
                                <i class="material-icons left">add</i><span id="texto_guardar">Añadir Empleado</span>
                            </button>
                        </div>
                        <div class="row">
                            <div class="left col offset-s1 m5 l4">
                                <a class="waves-effect waves-ligth btn z-depth-2 modal-close cerrarModalEmpresa"
                                    id="cancelar-Añadirempr">
                                    <i class="material-icons left">keyboard_arrow_left</i>Regresar
                                </a>
                            </div>
                            <!--Validación para verificar que los campos no estén vacios-->
                            <div class="left col s12 m7 l4 center-align mensaje-modal">
                                <h6 id="mensaje-anadirarh">¡Verifique que los campos no esten vacios!</h6>
                            </div>
                            <!--Cargar preloader de añadir-->
                            <div class="center col s12 m3 l4" id="preloader-añadirarh">
                                <div class="preloader-wrapper active">
                                    <div class="spinner-layer spinner-red-only">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--Añadir empleado-->

            </div>
        </div>
    </main>
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="../resources/js/materialize.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../controllers/components.js"></script>
    <script type="text/javascript" src="../controllers/validaciones.js"></script>
    <script src="../controllers/online.js"></script>
    <script type="text/javascript" src="../controllers/FAQ.js"></script>
</body>

</html>