<!DOCTYPE html>
<html lang="es">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="../resources/css/styles.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <!--Importando las fuentes de google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!--Icono del sitio web-->
    <link rel="icon" href="../resources/icons/icono-web.png">
    <title>FAQ</title>
</head>
<body class="inicioJ">
    <header>
        <div class="navbar-fixed">
            <nav class="navbar-contenedor z-depth-3">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo center titulo-nav"><span>FAQ</span></a>
                    <a href="#" data-target="side-navbarcont" class="sidenav-trigger"><i
                            class="material-icons menuicon-navbar">menu</i></a>
                    <ul class="right hide-on-small-and-down opciones-navbar">
                        <li><a class="waves-effect waves-light tooltipped" data-position="bottom"
                                data-tooltip="Ver el perfil" href="login.html" id="username-navbar">User1<i
                                    class="material-icons right usericon-apartadot">person</i></a>
                        </li>
                        <li><a href="badges.html" class="logout-navbar tooltipped" data-position="bottom"
                                data-tooltip="Cerrar Sesión"><img class="responsive-img"
                                    src="../resources/icons/logout-icon-navbar.png"></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul id="side-navbarcont" class="sidenav sidenav-fixed">
            <li>
                <div class="icono-sidenav">
                    <img class="responsive-image" src="../resources/img/logo-sidenav.png">
                </div>
            </li>
            <li>
                <div class="menuopciones-sidenav">
                    <a class="row waves-effect  botones-sidenav" href="empleados.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/inicio-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Inicio
                        </div>
                    </a>
                    <a class="row waves-effect  botones-sidenav" href="empleados.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/empleados-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Empleados
                        </div>
                    </a>
                    <a class="row waves-effect  botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/archivossub-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Archivos Subidos
                        </div>
                    </a>
                    <a class="row waves-effect  botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/empresas-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Empresas
                        </div>
                    </a>
                    <a class="row waves-effect hide-on-med-and-up botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img user-icon" src="../resources/icons/user-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav-nav">
                            <span>user1</span>
                        </div>
                    </a>
                    <a class="row waves-effect hide-on-med-and-up botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img user-icon" src="../resources/icons//logout-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav-nav">
                            Cerrar Sesión
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </header>
    <main>
        <section class="row upload-files-section">
            <!-- Parte de arriba donde muestra la parte de volver a la página de atrás y el buscador -->
            <div class="col l12 m12 s12 xl12 pull-xl4">
                <div class=" direction">
                    <p  href="javascript: history.go(-1)">Volver | </p><img src="../resources/icons/home-icon.png" alt="">
                    <p> > FAQ</p>
                </div>
            </div>
        </section>
        <div class="row FAQqU z-depth-5">
            <div id="introduction" class="col s12 m12 l6 TitularFAQinner">
                <h4 class="contenedorFAQinnerTa">¿Para qué sirve la sección de FAQ?</h4>
                <p class="contenedorFAQinnerT">
                    (Explicación y agregar que si su pregunta no es respondida o su problema requiere de soporte,
                    enviar su problema por medio del botón de abajo y explicar como funciona y que se debe de
                    agregar
                    (fotos, comentario u descripción del problema, etc.))</p>
                <form class="frm-FQA">
                    <div class="col l12 m12 s12 xl3 ">
                        <a class="btn-add-empFAQ btn modal-trigger" href="#modal-template"
                            onclick="openCreate()">Get support</a>
                    </div>
                </form>
            </div>
            <div class="col  l6 m12 s12  " id="icono-opcion-sidenav">
                <img class="responsive-img" src="../resources/img/ab.png">
            </div>
        </div>
        <div>
            <div>
                <div class="contenedorFAQmenu">
                    <ul class="section table-of-contents">
                        <li><b class="innerMenuFAQB">Índice</b></li>
                        <div class="innerMenuFAQ">
                           

                            <li><a class="innerMenuFAQIn" href="#structure" >Archivos</a></li>
                            <li><a class="innerMenuFAQIn" href="#initialization" >Acceso</a></li>
                            <li><a class="innerMenuFAQIn" href="#introduction2" >Editar</a></li>
                            <li><a class="innerMenuFAQIn"  href="#structure2">Contraseña</a></li>
                            <li><a class="innerMenuFAQIn" href="#initialization2">Descargas</a></li>
                            <li><a class="innerMenuFAQIn" href="#initialization3">Reportes</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div class="col s12 m12 l7 z-depth-5 contenedorFAQ">
               <div>
                <h3  class="contenedorFAQinnerTi">Preguntas frecuentes</h3>
                <hr class="contenedorFAQinnerTl">
               </div>

                <div id="structure" class="section scrollspy contenedorFAQinner">
                    <h4 class="contenedorFAQinnerT">¿Qué tipo de archivos puedo subir a la aplicación?</h4>
                    <p class="contenedorFAQinnerT">La aplicación Smart Bookkeeping, esta habilitada para que admita cualquier tipo de archivos, desde imagenes, 
                        pdfs hasta documentos offices o incluso carpetas comprimidas, esto para proporcionar mayor comodidad y no limita el tipo de archivos a almacenar.
                        ¡Tu decides el limite!. La unica limitante esque el archivo debe poseer un nombre menor a los 15 caracteres </p>
                </div>
                <div id="initialization" class="section scrollspy contenedorFAQinner">
                    <h4 class="contenedorFAQinnerT">¿Cómo doy acceso a mis empleados a las empresas que deseo?</h4>
                    <p class="contenedorFAQinnerT">El acceso a empleados funciona de manera unidireccional, por ende se debe otorgar a los empleados accesos
                         a las aplicaciones uno por uno (empleado por empleado), aunque se puede otorga de una vez a varios accesos a varias empresas para los empleados.
                        Dirigirse a la pestaña de "Empleados", buscar el empleado a asignarle acceso,
                         dar click en el boton de tres puntos para desplegar el menú de opciones. Dentro del menú,
                          ubicar el icono de Empresas y seleccionar las empresas a las que desea que el empleado seleccionado posea acceso.
                           Verificar que posea un cheque la empresa con acceso para reconocer que efectivamente posee acceso.</p>
                </div>
                <div id="introduction2" class="section scrollspy contenedorFAQinner">
                    <h4 class="contenedorFAQinnerT">¿Por que no puedo modificar mi DUI desde empleado?</h4>
                    <p class="contenedorFAQinnerT">Por seguridad de la empresa, no se permite modificar el DUI desde el apartado de perfil,
                        para realizar esta acción debe buscar al administrador más cercano y pedirle que él
                         lo modifique desde el apartado de empleados, seleccionando al empleado y cambiando el DUI.</p>
                </div>
                <div id="structure2" class="section scrollspy contenedorFAQinner">
                    <h4 class="contenedorFAQinnerT">¿Cómo sirve el código de recuperación de contraseña?</h4>
                    <p class="contenedorFAQinnerT">Este código solo puede ser creado por el jefe de la empresa,
                         por ende es un código necesario para poder cambiar la contraseña de cualquier
                          empleado y solo él debe de conocerla. </p>
                </div>
                <div id="initialization2" class="section scrollspy contenedorFAQinner">
                    <h4 class="contenedorFAQinnerT">¿Cómo descargo los archivos que he subido?</h4>
                    <p class="contenedorFAQinnerT">Para esta pregunta, existen dos respuestas, la primera es si se encuentra en una computadora,
                         todos los archivos incluyendo los que están dentro de empresas o si fueron subidos por los empleados,
                          poseen un botón para descargar el archivo, por ende este se puede descargar.
                        </p>
                        <p class="contenedorFAQinnerT">                 
                          La segunda respuesta es en caso de encontrarse en teléfonos inteligentes o tabletas inteligentes, 
                          en este caso la aplicación mobile es solo un extra de la aplicación de escritorio, posee la mayor parte de 
                          las funciones exceptuando por la previsualización de archivos PDF, descarga de archivos y la aplicación de los reportes.
                        </p>
                </div>
                <div id="initialization3" class="section scrollspy contenedorFAQinner">
                    <h4 class="contenedorFAQinnerT">¿Por que no puedo ver un reporte?</h4>
                    <p class="contenedorFAQinnerTe">Si no puede visualizar un reporte, es debido a que no hay datos para mostrarse o envió los datos que solicitaba 
                        el reporte para mostrarse de forma errónea, otra razón es que se encuentre en dispositivos móviles donde no puede 
                        descargar ni previsualizar ningún reporte.
                        </p>
                </div>
            </div>
        </div>
           

        </div>
        <div id="modal-template" class="modal">
            <div class="modal-content">
                <div class="row filaform-archivo">
                    <!-- id usuario si es necesario-->
                    <div class="input-field col s12 m10 offset-m1 l6 hide" id="input-id">
                        <input name="id" id="id" type="text" class="validate  inputs-añadirempr">
                        <label for="id" class="labels-anadirempr">Id del empleado</label>
                    </div>
                <!--Nombre-->
                <div class="input-field col s12 m5 l12" id="nombre_empcont">
                    <input placeholder="Nombre Empleado" id="nombre_emp" type="text"
                        class="validate center-align inputs-añadirempr " disabled>
                    <label for="nombre_emp" class="labels-anadirempr">Usuario:</label>
                </div>
                 <!--Descripción-->
                 <div class="input-field col s12 m10 offset-m1 l12">
                    <textarea placeholder="Descripción del problema" id="descripcion" type="text"
                        class="materialize-textarea center-align inputs-añadirempr" name="descripcion"></textarea>
                    <label for="descripcion" class="labels-anadirempr">Descripción:</label>
                </div>
                <!--Input de agregar archivo-->
                <div class="file-field input-field col s12" id="fila-agregararch">
                    <div class="btn agregararchivoarh col s12 m3 offset-m1 l2">
                        <i class="material-icons">insert_drive_file</i>
                        <span>Archivo</span>
                        <input  type="file" id="archivosubido-arch" name="archivo">
                    </div>
                    <div class="file-path-wrapper col s12 m7 l10  inputarh-texto">
                        <input class="file-path inputs-añadirempr" type="text" disabled id="nombreArchivo-input"
                            name="archivo_nombre">
                    </div>
                </div>
                <div class="progress" id="barraraprg-garch">
                    <div class="indeterminate"></div>
                </div>
                <!--Input de previsualizar archivo-->
                <div class="preview-file col" id="preview-col">
                    <img src="../resources/img/previsualizar-img.png" alt="Previsualizar Imagen"
                        class="responsive-image imagen-previmg" id="imagen-Preview">
                    <span class="texto-previmg" id="texto-prevw">Previsualizador de Archivos</span>
                    <embed src="" width="100%" height="500" id="prevPDF-arh" />
                </div>
            </div>
            </div>
        </div>
    </main>
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="../resources/js/materialize.min.js"></script>
    <script type="text/javascript" src="../controllers/FAQ.js"></script>
</body>
</html>
