<!DOCTYPE html>
<html lang="es">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="../resources/css/styles.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <!--Importando las fuentes de google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!--Icono del sitio web-->
    <link rel="icon" href="../resources/icons/icono-web.png">
    <title>FAQ</title>
</head>

<body class="inicioJ">
    <header>
    </header>
    <main>
        <section class="row upload-files-section">
            <!-- Parte de arriba donde muestra la parte de volver a la página de atrás y el buscador -->
            <div class="col l12 m12 s12 xl12 pull-xl4">
                <div class=" direction">
                    <a class="faq-return" href="javascript: history.go(-1)">Volver | </a><img src="../resources/icons/home-icon.png" alt="">
                    <p> > FAQ</p>
                </div>
            </div>
        </section>
        <div class="row FAQqU z-depth-5">
            <div id="introduction" class="col s12 m12 l6 TitularFAQinner">
                <h4 class="contenedorFAQinnerTa">¿Para qué sirve FAQ?</h4>
                <p class="contenedorFAQinnerT">
                    La sección de preguntas frecuentes sirve para responder las dudas más comunes que pueden surgir al usar Smart Bookkeeping,
                     en esta sección encontrara la respuesta a algunas de sus dudas. En el caso de que su problema sea alguna falla en el sistema o
                      su duda no tenga respuesta, puede usar el botón de soporte en el cual podrá enviar su duda o problema para que podamos resolverlo lo
                       antes posible, así mismo adjuntamos el manual de usuario.</p>
                <form class="frm-FQA">
                    <div class="col l12 m6 center s6 xl3 ">
                        <a class="btn-add-empFAQ  modal-trigger" id="usotFAQ" href="#modal-template">Get USOT</a>
                    </div>
                    <div class="col l12 center m6 s6 xl3 ">
                        <a class="btn-add-empFAQ btn modal-trigger" id="manualFAQ" href="">Manual</a>
                    </div>
                </form>
            </div>
            <div class="col  l6 m12 s12  " id="icono-opcion-sidenav">
                <img class="responsive-img" src="../resources/img/ab.png">
            </div>
        </div>
        <div>
            <div>
                <div class="contenedorFAQmenu">
                    <ul class="section table-of-contents">
                        <li><b class="innerMenuFAQB">Índice</b></li>
                        <div class="innerMenuFAQ">
        
        
                            <li><a class="innerMenuFAQIn" href="#structure">Archivos</a></li>
                            <li><a class="innerMenuFAQIn" href="#initialization">Acceso</a></li>
                            <li><a class="innerMenuFAQIn" href="#introduction2">Editar</a></li>
                            <li><a class="innerMenuFAQIn" href="#structure2">Contraseña</a></li>
                            <li><a class="innerMenuFAQIn" href="#initialization2">Descargas</a></li>
                            <li><a class="innerMenuFAQIn" href="#initialization3">Reportes</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div class="col s12 m12 l7 z-depth-5 contenedorFAQ">
                <div>
                    <h3 class="contenedorFAQinnerTi">Preguntas frecuentes</h3>
                    <hr class="contenedorFAQinnerTl">
                </div>
        
                <div id="structure" class="section scrollspy contenedorFAQinner">
                    <h4 class="contenedorFAQinnerT">¿Qué tipo de archivos puedo subir a la aplicación?</h4>
                    <p class="contenedorFAQinnerT">La aplicación Smart Bookkeeping, esta habilitada para que admita cualquier
                        tipo de archivos, desde imagenes,
                        pdfs hasta documentos offices o incluso carpetas comprimidas, esto para proporcionar mayor comodidad y
                        no limita el tipo de archivos a almacenar.
                        ¡Tu decides el limite!. La unica limitante esque el archivo debe poseer un nombre menor a los 15
                        caracteres </p>
                </div>
                <div id="initialization" class="section scrollspy contenedorFAQinner">
                    <h4 class="contenedorFAQinnerT">¿Cómo doy acceso a mis empleados a las empresas que deseo?</h4>
                    <p class="contenedorFAQinnerT">El acceso a empleados funciona de manera unidireccional, por ende se debe
                        otorgar a los empleados accesos
                        a las aplicaciones uno por uno (empleado por empleado), aunque se puede otorga de una vez a varios
                        accesos a varias empresas para los empleados.
                        Dirigirse a la pestaña de "Empleados", buscar el empleado a asignarle acceso,
                        dar click en el boton de tres puntos para desplegar el menú de opciones. Dentro del menú,
                        ubicar el icono de Empresas y seleccionar las empresas a las que desea que el empleado seleccionado
                        posea acceso.
                        Verificar que posea un cheque la empresa con acceso para reconocer que efectivamente posee acceso.</p>
                </div>
                <div id="introduction2" class="section scrollspy contenedorFAQinner">
                    <h4 class="contenedorFAQinnerT">¿Por que no puedo modificar mi DUI desde empleado?</h4>
                    <p class="contenedorFAQinnerT">Por seguridad de la empresa, no se permite modificar el DUI desde el apartado
                        de perfil,
                        para realizar esta acción debe buscar al administrador más cercano y pedirle que él
                        lo modifique desde el apartado de empleados, seleccionando al empleado y cambiando el DUI.</p>
                </div>
                <div id="structure2" class="section scrollspy contenedorFAQinner">
                    <h4 class="contenedorFAQinnerT">¿Cómo sirve el código de recuperación de contraseña?</h4>
                    <p class="contenedorFAQinnerT">Este código solo puede ser creado por el jefe de la empresa,
                        por ende es un código necesario para poder cambiar la contraseña de cualquier
                        empleado y solo él debe de conocerla. </p>
                </div>
                <div id="initialization2" class="section scrollspy contenedorFAQinner">
                    <h4 class="contenedorFAQinnerT">¿Cómo descargo los archivos que he subido?</h4>
                    <p class="contenedorFAQinnerT">Para esta pregunta, existen dos respuestas, la primera es si se encuentra en
                        una computadora,
                        todos los archivos incluyendo los que están dentro de empresas o si fueron subidos por los empleados,
                        poseen un botón para descargar el archivo, por ende este se puede descargar.
                    </p>
                    <p class="contenedorFAQinnerT">
                        La segunda respuesta es en caso de encontrarse en teléfonos inteligentes o tabletas inteligentes,
                        en este caso la aplicación mobile es solo un extra de la aplicación de escritorio, posee la mayor parte
                        de
                        las funciones exceptuando por la previsualización de archivos PDF, descarga de archivos y la aplicación
                        de los reportes.
                    </p>
                </div>
                <div id="initialization3" class="section scrollspy contenedorFAQinner">
                    <h4 class="contenedorFAQinnerT">¿Por que no puedo ver un reporte?</h4>
                    <p class="contenedorFAQinnerTe">Si no puede visualizar un reporte, es debido a que no hay datos para
                        mostrarse o envió los datos que solicitaba
                        el reporte para mostrarse de forma errónea, otra razón es que se encuentre en dispositivos móviles donde
                        no puede
                        descargar ni previsualizar ningún reporte.
                    </p>
                </div>
            </div>
        </div>


        </div>
        <div id="modal-template" class="modal">
            <div class="modal-content">
                <div class="center-align">
                    <h4>Envíe un correo de soporte</h4>
                    <p>Ingrese en la descripción la duda, problematica o consejo con el cual se ha topado, pronto
                        soporte le enviará un correo para contactarlo</p>
                </div>
                <form class="row filaform-archivo" enctype="multipart/form-data" id="formSupport" method="post">
                    <!-- id usuario si es necesario-->
                    <div class="input-field col s12 m10 offset-m1 l6 hide" id="input-id">
                        <input name="id" id="id" type="text" class="validate  inputs-añadirempr">
                        <label for="id" class="labels-anadirempr">Id del empleado</label>
                    </div>
                    <!--Nombre-->
                    <div class="input-field col s12 m12 l12" id="nombre_empcont">
                        <input placeholder="Nombre Empleado" id="nombre_emp" type="text"
                            class="validate center-align inputs-añadirempr " disabled>
                        <label for="nombre_emp" class="labels-anadirempr">Usuario:</label>
                    </div>
                    <!--Descripción-->
                    <div class="input-field col s12 m10 offset-m1 l12">
                        <textarea placeholder="Descripción del problema" id="descripcion" type="text"
                            class="materialize-textarea center-align inputs-añadirempr" name="descripcion" required></textarea>
                        <label for="descripcion" class="labels-anadirempr">Descripción:</label>
                    </div>
                    <!--Input de agregar archivo-->
                    <div class="file-field input-field col s12" id="fila-agregararch">
                        <div class="btn agregararchivoarh col s12 m3 offset-m1 l2">
                            <i class="material-icons">insert_drive_file</i>
                            <span>Archivo</span>
                            <input type="file" id="archivosubido-arch" name="archivo" accept="image/*" required>
                        </div>
                        <div class="file-path-wrapper col s12 m7 l10  inputarh-texto">
                            <input class="file-path inputs-añadirempr" type="text" disabled id="nombreArchivo-input"
                                name="archivo_nombre" required>
                        </div>
                    </div>
                    <div class="progress" id="barraraprg-garch">
                        <div class="indeterminate"></div>
                    </div>
                    <!--Input de previsualizar archivo-->
                    <div class="preview-file col" id="preview-col">
                        <img src="../resources/img/previsualizar-img.png" alt="Previsualizar Imagen"
                            class="responsive-image imagen-previmg" id="imagen-Preview">
                        <span class="texto-previmg" id="texto-prevw">Previsualizador de Archivos</span>
                        <embed src="" width="100%" height="500" id="prevPDF-arh" />
                    </div>
                    <div class="col offset-s1 m12 l12">
                        <div class="center">
                            <button class="waves-effect waves-ligth btn z-depth-2" id="btn-añadirArchivoarhModal" type="submit">
                                <i class="material-icons left">add</i>Guardar Archivo
                            </button>
                        </div>
                        <div class="left">
                            <a class="left waves-effect waves-ligth btn z-depth-2 cerrarModalEmpresa modal-close"
                                id="cancelarSupp">
                                <i class="material-icons left">keyboard_arrow_left</i>Cerrar
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--No borrar del codigo-->
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large " id="hasta_arriba">
                <i class="large material-icons">arrow_upward</i>
            </a>
            <ul>
        </div>
        <!--Diseño de logout-->
        <div id="cerrarSesionModal" class="modal">
            <div class="fondo-modaldatos modal-content">
                <div class="center-align">
                    <h4>Confirmación de cerrar sesión</h4>
                    <p>¿Desea cerrar sesión?</p>
                </div>
                <!--Contenido importante del modal-Boton de actualizar-->
                <div class="center-align">
                    <a class="waves-effect waves-light btn center-align" id="cerrarSesionModalbtn">Cerrar Sesión</a>
                </div>
                <!--Pie del modal-->
                <div class="modal-footer" id="fondomodal-footer">
                    <div class="left col offset-s1 m5 l4">
                        <a class="waves-effect waves-ligth btn z-depth-2 modal-close cancelarEliminarempre"
                            id="cancelar-cerrarSesion">
                            <i class="material-icons left">keyboard_arrow_left</i>Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="../resources/js/materialize.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../controllers/components.js"></script>
    <script type="text/javascript" src="../controllers/validaciones.js"></script>
    <script src="../controllers/online.js"></script>
    <script type="text/javascript" src="../controllers/FAQ.js"></script>
</body>

</html>