<!DOCTYPE html>
<html lang="es">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link type="text/css" rel="stylesheet" href="../resources/css/materialize.min.css" media="screen,projection" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../resources/css/styles.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <!--Importando las fuentes de google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!--Icono del sitio web-->
    <link rel="icon" href="../resources/icons/icono-web.png">
    <title>Folders</title>
</head>

<body class="jesusparte">
    <header>
        <!--Navbar-->
        <div class="navbar-fixed">
            <nav class="navbar-contenedor z-depth-3">
                <div class="nav-wrapper">
                    <!--Titulo del apartado-->
                    <a href="#!" class="brand-logo center titulo-nav"><span>Folders</span></a>
                    <!--Boton para el sidenav responsive-->
                    <a href="#" data-target="side-navbarcont" class="sidenav-trigger"><i
                            class="material-icons menuicon-navbar">menu</i></a>
                    <!--Apartado del usuario y logou-->
                    <ul class="right hide-on-small-and-down opciones-navbar">
                        <!--Usuario solo para tablets y computadoras-->
                        <li><a class="waves-effect waves-light tooltipped" data-position="bottom"
                                data-tooltip="Ver el perfil" href="perfil.html" id="username-navbar">User1<i
                                    class="material-icons right usericon-apartadot">person</i></a>
                        </li>
                        <!--Boton de logout solo para tablets y computadoras-->
                        <li><a href="#cerrarSesionModal" class="logout-navbar tooltipped modal-trigger"
                                data-position="bottom" data-tooltip="Cerrar Sesión"><img class="responsive-img"
                                    src="../resources/icons/logout-icon-navbar.png"></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!--Sidenav-->
        <ul id="side-navbarcont" class="sidenav sidenav-fixed">
            <!--Icono de la empresa-->
            <li>
                <div class="icono-sidenav">
                    <img class="responsive-image" src="../resources/img/logo-sidenav.png">
                </div>
            </li>
            <!--Menu de opciones-->
            <li>
                <div class="menuopciones-sidenav">
                    <!--Boton de Inicio-->
                    <a class="row waves-effect  botones-sidenav" href="inicio.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/inicio-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Inicio
                        </div>
                    </a>
                    <!--Boton de Empleados-->
                    <a class="row waves-effect  botones-sidenav" href="empleados.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/empleados-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Empleados
                        </div>
                    </a>
                    <!--Boton de Archivos subidos-->
                    <a class="row waves-effect  botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/archivossub-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Archivos Subidos
                        </div>
                    </a>
                    <!--Boton de Empresas-->
                    <a class="row waves-effect  botones-sidenav" href="empresas.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/empresas-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Empresas
                        </div>
                    </a>
                    <!--Boton de Perfil solo para telefonos-->
                    <a class="row waves-effect hide-on-med-and-up botones-sidenav" href="perfil.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img user-icon" src="../resources/icons/user-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav-nav">
                            <span>user1</span>
                        </div>
                    </a>
                    <!--Boton de logout solo para telefonos-->
                    <a class="row waves-effect hide-on-med-and-up botones-sidenav modal-trigger"
                        href="#cerrarSesionModal">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img user-icon" src="../resources/icons//logout-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav-nav">
                            Cerrar Sesión
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </header>
    <main>
        <!--Contenedor de las empresas-->
        <div class="contenedor-empresas">
            <!--Fila del subnav-->
            <div class="row">
                <!--Columna Indicadora-->
                <div class="col s12 l6">
                    <div class="col l2 m2 s3 left-align" id="div-regresarbotonfolders">
                        <a href="javascript: history.go(-1)" id="regresar_btnfolders" class="tooltipped"
                            data-tooltip="Regresar a página anterior" data-position="left">
                            Volver |</a>
                    </div>
                    <!--Icono de home-->
                    <div class="col s2 m1 l1 " id="conthomeicon-subnavfold">
                        <a href="inicio.html" class="logout-navbar tooltipped" data-position="top"
                            data-tooltip="Regresar a Inicio"><img class="responsive-img"
                                src="../resources/icons/home-icon-empresas.png"></a>
                    </div>
                    <!--Parte que indica en que página se encuentra-->
                    <div class="col s4 m3 l3" id="contapartado-subnavfold">
                        <a class="logout-navbar tooltipped" data-position="top" data-tooltip="Regresar a Empresas" href="javascript: history.go(-1)">>
                            Empresas</a>
                    </div>
                    <div class="col s3 m2 l2 indicador-fold" id="contapartado-subnavfold">
                        <a class="logout-navbar tooltipped" data-position="top" data-tooltip="Estas en Folders">>
                            Folders</a>
                    </div>
                </div>
                <!--Columna del buscador-->
                <div class="col s12 l6 col-buscadorfold">
                    <form method="post" id="buscador-form">
                        <div class="input-field col s11 m6 l7" id="contenedor-buscarfolders">
                            <i class="material-icons prefix small buscar-empresas tooltipped" data-position="top"
                                data-tooltip="Busca un Folder">search</i>
                            <input id="inputbuscar-empresas" type="search" class="validate"
                                placeholder="Buscar Folders" name="search">
                        </div>
                        <div class="col s12 m6 l5">
                            <a class="waves-effect waves-ligth btn z-depth-3 modal-trigger" id="añadir-folder"
                                href="#modalAnadirFolder">
                                <i class="material-icons left">add</i>Añadir Folder
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <!--Fila de los folders-->
            <div class="row" id="folders-card">
            </div>
        </div>
        <!--Preloader de carga-->
        <div class="preloader-wrapper big active" id="preloader-cargarJ">
            <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <!--No borrar del codigo-->
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large " id="hasta_arriba">
                <i class="large material-icons">arrow_upward</i>
            </a>
            <ul>
        </div>
        <!--Diseño de logout-->
        <div id="cerrarSesionModal" class="modal">
            <div class="fondo-modaldatos modal-content">
                <div class="center-align">
                    <h4>Confirmación de cerrar sesión</h4>
                    <p>¿Desea cerrar sesión?</p>
                </div>
                <!--Contenido importante del modal-Boton de actualizar-->
                <div class="center-align">
                    <a class="waves-effect waves-light btn center-align"
                        id="cerrarSesionModalbtn">Cerrar Sesión</a>
                </div>
                <!--Pie del modal-->
                <div class="modal-footer" id="fondomodal-footer">
                    <div class="left col offset-s1 m5 l4">
                        <a class="waves-effect waves-ligth btn z-depth-2 modal-close cancelarEliminarempre"
                            id="cancelar-cerrarSesion">
                            <i class="material-icons left">keyboard_arrow_left</i>Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal de añadir Folders-->
        <div id="modalAnadirFolder" class="modal">
            <div class="modal-content">
                <!--Titulo del modal-->
                <h4 class="center-align">Añadir Folder</h4>
                <!--Indicaciones del modal-->
                <p class="center-align">Ingrese el nombre del nuevo folder a añadir a la empresa</p>
                <!--Formulario para añadir una empresa-->
                <form method="post" id="formAnadir">
                    <!--Fila del formulario-->
                    <div class="row filaform-empresa">
                        <!--Nombre del Folder-->
                        <div class="input-field col s12 m6 offset-m3 offset-l3">
                            <input placeholder="Nombre del Folder" id="nombre-folder" type="text"
                                class="validate center-align inputs-añadirempr" name="nombre">
                            <label for="nombre-clienteempr" class="labels-anadirempr">Nombre Folder:</label>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="center">
                        <a class="waves-effect waves-ligth btn z-depth-2" id="btn-añadirFolderModal">
                            <i class="material-icons left">add</i>Añadir Folder
                        </a>
                    </div>
                    <div class="row">
                        <div class="left col offset-s1 m5 l4">
                            <a class="waves-effect waves-ligth btn z-depth-2 modal-close cerrarModalEmpresa"
                                id="cancelar-Añadirfold">
                                <i class="material-icons left">keyboard_arrow_left</i>Regresar
                            </a>
                        </div>
                        <div class="left col s12 m7 l4 center-align mensaje-modal">
                            <h6 id="mensaje-anadirfold">¡Verifique que los campos no esten vacios!</h6>
                        </div>
                        <div class="center col s12 m3 l4" id="preloader-añadirfold">
                            <div class="preloader-wrapper active">
                                <div class="spinner-layer spinner-red-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Diseño de confirmación de eliminar Folder-->
        <div id="eliminar-foldermodal" class="modal">
            <div class="fondo-modaldatos modal-content">
                <div class="center-align">
                    <h4>Confirmar Elminación de Folder</h4>
                    <p>¿Desea Eliminar el folder y sus archivos permanentemente?</p>
                </div>
                <!--Preloader de la actualización de los datos del perdil-->
                <div class="preloader-wrapper active" id="confirmareliminarfold_preloader">
                    <div class="spinner-layer spinner-red-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <!--Contenido importante del modal-Boton de actualizar-->
                <div class="center-align">
                    <a href="#!" class="waves-effect waves-light btn center-align"
                        id="aceptareliminarfolder_boton">Eliminar Folder</a>
                </div>
                <!--Pie del modal-->
                <div class="modal-footer" id="fondomodal-footer">
                    <div class="left col offset-s1 m5 l4">
                        <a class="waves-effect waves-ligth btn z-depth-2 modal-close cancelarEliminarempre"
                            id="cancelar-eliminarfold">
                            <i class="material-icons left">keyboard_arrow_left</i>Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Diseño de modificar empresa-->
        <div id="modificar-foldermodal" class="modal">
            <div class="modal-content">
                <!--Titulo del modal-->
                <h4 class="center-align">Modificar Folder</h4>
                <!--Indicaciones del modal-->
                <p class="center-align">Visualice los datos guardados del folder o modifiquelos</p>
                <!--Formulario para añadir una empresa-->
                <form method="post" id="formActualizar">
                    <!--Fila del formulario-->
                    <div class="row filaform-empresa">
                        <!--Nombre del Folder-->
                        <div class="input-field col s12 m6 offset-m3 offset-l3 hide">
                            <input placeholder="Nombre del Folder" id="id-folder" type="text"
                                class="validate center-align inputs-añadirempr" name="id">
                            <label for="nombre-clienteempr" class="labels-anadirempr">Nombre Folder:</label>
                        </div>
                        <!--Nombre del Folder-->
                        <div class="input-field col s12 m6 offset-m3 offset-l3">
                            <input placeholder="Nombre del Folder" id="modnombre-folder" type="text"
                                class="validate center-align inputs-añadirempr" name="nombre">
                            <label for="nombre-clienteempr" class="labels-anadirempr">Nombre Folder:</label>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="center">
                        <a class="waves-effect waves-ligth btn z-depth-2" id="btn-modificarFolderModal">
                            <i class="material-icons left">edit</i>Modificar Folder
                        </a>
                    </div>
                    <div class="row">
                        <div class="left col offset-s1 m5 l4">
                            <a class="waves-effect waves-ligth btn z-depth-2 modal-close cerrarModalEmpresa"
                                id="cancelar-modificarfold">
                                <i class="material-icons left">keyboard_arrow_left</i>Regresar
                            </a>
                        </div>
                        <div class="left col s12 m7 l4 center-align mensaje-modal">
                            <h6 id="mensaje-modificarfold">¡Verifique que los campos no esten vacios!</h6>
                        </div>
                        <div class="center col s12 m3 l4" id="preloader-modificarfold">
                            <div class="preloader-wrapper active">
                                <div class="spinner-layer spinner-red-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <!--Contenedor del menu para la páginación-->
        <div class="container">
            <div class="row">
                <div class="col s2 offset-s2 m2 offset-m2 l1 offset-l4 center" id="contenedor-botonnavg">
                    <div class="botonnavg-footer center" id="pagnavg-atr">
                        <a class="tooltipped" data-position="left" data-tooltip="Regresar página anterior"><i
                                class="material-icons medium">chevron_left</i></a>
                    </div>
                </div>
                <div class="col s2 m2 l1 center" id="contenedor-botonnavg">
                    <div class="botonnavg-footer center contnpag">
                        <a><span class="pagnavg" id="pagnumeroi">1</span></a>
                    </div>
                </div>
                <div class="col s2  m2 l1 center" id="contenedor-botonnavg">
                    <div class="botonnavg-footer center contnpag">
                        <a><span class="pagnavg" id="pagnumerof">2</span></a>
                    </div>
                </div>
                <div class="col s2 m2 l1 center" id="contenedor-botonnavg">
                    <div class="botonnavg-footer center tooltipped" data-position="top" data-tooltip="¡Más muy pronto!">
                        <a><span>...</span></a>
                    </div>
                </div>
                <div class="col s2 m2 l1 center" id="contenedor-botonnavg">
                    <div class="botonnavg-footer center" id="pagnavg-adl">
                        <a class="tooltipped" data-position="right" data-tooltip="Página siguiente"><i
                                class="material-icons medium">chevron_right</i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="../resources/js/materialize.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="../controllers/components.js"></script>
    <script type="text/javascript" src="../controllers/validaciones.js"></script>
    <script type="text/javascript" src="../controllers/online.js"></script>
    <script type="text/javascript" src="../controllers/folders.js"></script>
    <!-- Contador oculto que cuenta el tiempo trancurrido y cierra la sesion -->
    <p class="timertext" hidden style="font-size: 1.5rem;">
    <span class="secs"></span> seconds.
    </p>
</body>

</html>