<!DOCTYPE html>
<html lang="es">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="../resources/css/styles.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <!--Importando las fuentes de google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!--Icono del sitio web-->
    <link rel="icon" href="../resources/icons/icono-web.png">
    <title>Iniciar Sesión</title>
</head>

<body id="Fondo-login">
    <div>
        <header>
            <div class="navbar-fixed">
                <nav class="navbar-contenedorLogin z-depth-3 center-align">
                    <div class="icono-login">
                        <img class="responsive-image " src="../resources/img/logo-login2.png">
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <!--Contenedor de Login-->
            <div class="container">
                <div class="row login-container ">
                    <!--Seccion izquierda del Login-->
                    <div class="col l6 m8 s12">
                        <div class="row login-col1 z-depth-5">
                            <div class="container-col1">
                                <div class="container-col2">
                                    <div class="col l12 m9 s12 center-align text-style-title">
                                        <p>Smart Bookkeeping</p>
                                    </div>
                                    <div class="col l12 m12 s12 center-align text-style-p">
                                        <p>La aplicación administrativa para ayudar a la gestión del despacho contable
                                            almacenando los archivos de las diversas empresas a las que se le lleve la
                                            contaduría y teniendo la capacidad de separar los archivos por categoría de
                                            los trabajos: Hacienda, Libros, Resivos etc. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Seccion derecha del Login-->
                    <div class="col l6 m8 s12">
                        <div class="row login-col2 z-depth-5">
                            <div class="row">
                                <div class="col s12 left-align Text-log">
                                    <b>Iniciar Sesión</b>
                                </div>
                                <!--elementos del Login-->
                                <div class="col s12" id="parte-orden">
                                    <div class="row">
                                        <div class="d-container-col1">
                                            <form id="session-form">
                                                <!--Inputs del nombre de usuario-->
                                                <div class="col l10 m11 s10 input-field" id="titulo-orden">
                                                    <input id="username" name="usuario" type="text" class="center-align"
                                                        autocomplete="off">
                                                    <label for="username">Usuario</label>
                                                </div>
                                                <!--Inputs de la contraseña de usuario-->
                                                <div class="input-field col l10 m11 s10">
                                                    <input id="contraseña" name="contrasena" type="password"
                                                        class="center-align" autocomplete="off">
                                                    <label for="contraseña">Contraseña</label>
                                                    <i class="tooltipped material-icons prefix right-align"
                                                        data-position="top" data-tooltip="Mostrar/Ocultar"
                                                        id="ocultarmostrar_contraseña">visibility</i>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 center-align">
                                    <div class="row">
                                        <div class="col l11 m6 offset-m2 s11 center-align">
                                            <!--Boton de iniciar sesión-->
                                            <div>
                                                <a class="waves-effect waves-light btn" id="Iniciar_btn">Continuar</a>
                                            </div>
                                            <!--Boton de Olvidar contraseña-->
                                            <div class="col m12 offset-m2 l12">
                                                <a class="modal-trigger text-recuperar-contra" id="olvidarcontra_boton"
                                                    href="#modalAnadirFolder">¿Olvidaste tu contraseña?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Modal-->
                                <div id="modalAnadirFolder" class="modal">
                                    <div class="modal-content">
                                        <!--Titulo del modal-->
                                        <h4 class="center-align">Recuperar contraseña</h4>
                                        <!--Indicaciones del modal-->
                                        <p class="center-align">Antes de recuperar tu cuenta primero debes ingresar el
                                            PIN para restablecer contraseñas mostrado al primer administrador y haber
                                            colocado tu usuario en el formulario anterior</p>
                                        <p class="center-align"><b>Si eres el administrador en jefe y se te ha olvidado
                                                tu contreaseña y PIN
                                                de recuperación contacta a soporte
                                                <a href=mailto:despcontableesquivel@gmail.com>Soporte de Smart
                                                    Bookkeeping</a>
                                            </b> o copia el correo: <b>despcontableesquivel@gmail.com</b></p>
                                        <p class="center-align">También puedes proceder por tu propia cuenta en caso de
                                            olvido siguiendo este <a href="#" onclick="reclog()">link</a>, <b>solo funciona para el jefe de la empresa (administrador en jefe)</b></p>
                                        <!--Formulario para ingresar PIN-->
                                        <form method="post" id="pin-sesion" autocomplete="off">
                                            <!--Fila del formulario-->
                                            <div class="row filaform-empresa">
                                                <!--input de PIN-->
                                                <div class="input-field col s12 m6 offset-m3 offset-l3">
                                                    <input placeholder="Ingrese el PIN" id="PIN-numeros" type="password"
                                                        maxlength="6" name="pin"
                                                        class="validate center-align inputs-añadirempr">
                                                    <label for="nombre-clienteempr" class="labels-anadirempr">Inserte
                                                        los 6 digitos</label>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="row">
                                            <!--Campos o contenido importante del modal de actualizar contraseña-->
                                            <div class="center">
                                                <a class="waves-effect waves-ligth btn z-depth-2"
                                                    id="btn-añadirFolderModal">
                                                    <i class="material-icons left">autorenew</i>Recuperar contraseña
                                                </a>
                                            </div>
                                            <div class="row">
                                                <div class="left col offset-s1 m5 l4">
                                                    <a class="waves-effect waves-ligth btn z-depth-2 modal-close cerrarModalEmpresa"
                                                        id="cancelar-Añadirfold">
                                                        <i class="material-icons left">keyboard_arrow_left</i>Cancelar
                                                    </a>
                                                </div>
                                                <div class="left col s12 m7 l4 center-align mensaje-modal">
                                                    <h6 id="mensaje-restablecer">El PIN no es el correcto</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Inicio del diseño del Modal de Restablecer contraseña-->
            <div id="modalrestablecer" class="modal">
                <div class="modal-content">
                    <!--Titulo del modal-->
                    <h4 class="center-align">Restablecer contraseña</h4>
                    <!--Indicaciones del modal-->
                    <p class="center-align">Ingresa tu nueva contraseña y confirmala para poder iniciar sesión</p>
                    <!--Icono del ojo-->
                    <div class="class center-align">
                        <i class="tooltipped material-icons center" data-position="top" data-tooltip="Mostrar/Ocultar"
                            id="ocultarmostrar_contraseñas">visibility</i>
                    </div>
                    <!--Formulario para ingresar PIN-->
                    <!--Fila del formulario-->
                    <form class="row filaform-empresa" id="renovarcontr-form" autocomplete="off">
                        <!--input de PIN-->
                        <div class="input-field col s12 m6 offset-m3 offset-l3">
                            <input placeholder="Contraseña nueva" id="contraseña_nueva" type="password"
                                class="validate center-align inputs-añadirempr" name="contrasena">
                            <label for="contraseña_nueva" class="labels-anadirempr">Contraseña nueva</label>
                        </div>
                        <div class="input-field col s12 m6 offset-m3 offset-l3">
                            <input placeholder="Confirma tu contraseña" id="contraseña_confirma" type="password"
                                class="validate center-align inputs-añadirempr">
                            <label for="contraseña_confirma" class="labels-anadirempr">Confirmación</label>
                        </div>
                    </form>
                    <div class="row">
                        <!--Campos o contenido importante del modal de actualizar contraseña-->
                        <div class="center">
                            <a class="waves-effect waves-ligth btn z-depth-2 btn-añadirFolderModal"
                                id="restablecerContraseña"><i class="material-icons left">add</i>Recuperar contraseña
                            </a>
                        </div>
                        <div class="row">
                            <div class="left col offset-s1 m5 l4" id="cancelarRC">
                                <a class="waves-effect waves-ligth btn z-depth-2 modal-close cerrarModalEmpresa"
                                    id="cancelar-Añadirfold">
                                    <i class="material-icons left">keyboard_arrow_left</i>Cancelar
                                </a>
                            </div>
                            <div class="left col s12 m7 l4 center-align mensaje-modal">
                                <h6 id="mensaje-anadirfold">El PIN no es el correcto</h6>
                            </div>
                            <div class="center col s12 m3 l4" id="preloader-añadirfold">
                                <div class="preloader-wrapper active">
                                    <div class="spinner-layer spinner-red-only">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--No borrar del codigo-->
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large " id="hasta_arriba">
                    <i class="large material-icons">arrow_upward</i>
                </a>
                <ul>
            </div>
            <!--Modal de empleado-->
            <div id="modal-template" class="modal">
                <div class="modal-content">
                    <!--Titulo del modal-->
                    <h4 class="center-align" id="modal-title">Primer usuario</h4>
                    <p class="center-align">Ingrese el primer usuario de Smart Bookkeeping, este estará por defecto como
                        administrador</p>
                    <!--Formulario para añadir una empresa-->
                    <form class="row" method="post" id="save-form" enctype="multipart/form-data" autocomplete="off">
                        <!--Fila del formulario-->
                        <div class="row filaform-archivo">
                            <!--Nombre del usuario-->
                            <div class="input-field col s12 m10 offset-m1 l6">
                                <input placeholder="Usuario" name="usuario-emp" id="usuario-emp" type="text"
                                    class="validate  inputs-añadirempr" required autocomplete="off">
                                <label for="usuario-emp" class="labels-anadirempr">Usuario</label>
                            </div>
                            <!--Telefono del empleado-->
                            <div class="input-field col s12 m10 offset-m1 l6">
                                <input placeholder="Teléfono" name="telefono-emp" id="telefono-emp" type="text"
                                    class="validate inputs-añadirempr" required maxlength="9">
                                <label for="telefono-emp" class="labels-anadirempr">Teléfono:</label>
                            </div>
                            <div class="center-align">
                                <i class="tooltipped material-icons center" data-position="top"
                                    data-tooltip="Mostrar/Ocultar" id="pu_ojocontras">visibility</i>
                            </div>
                            <!--Contraseña del usuario-->
                            <div class="input-field col s12 m10 offset-m1 l6">
                                <input placeholder="Contraseña" name="contra-emp" id="contra-emp" type="password"
                                    class="validate  inputs-añadirempr" required autocomplete="off">
                                <label for="contra-emp" class="labels-anadirempr">Contraseña</label>
                            </div>
                            <!--Contraseña del usuario-->
                            <div class="input-field col s12 m10 offset-m1 l6">
                                <input placeholder="Confirme contraseña" name="contrac-emp" id="contrac-emp"
                                    type="password" class="validate  inputs-añadirempr" required>
                                <label for="ccontrac-emp" class="labels-anadirempr">Confirmar contraseña</label>
                            </div>
                            <!--Nombre del empleado-->
                            <div class="input-field col s12 m5 offset-m1 l6">
                                <input placeholder="Nombre" name="nombre-emp" id="nombre-emp" type="text"
                                    class="validate inputs-añadirempr" required>
                                <label for="nombre-emp" class="labels-anadirempr">Nombre:</label>
                            </div>
                            <!--Apellidos del empleado-->
                            <div class="input-field col s12 m5 l6">
                                <input placeholder="Apellidos" name="apellido-emp" id="apellido-emp" type="text"
                                    class="validate inputs-añadirempr" required>
                                <label for="apellido-emp" class="labels-anadirempr">Apellidos:</label>
                            </div>
                            <!--DUI del empleado-->
                            <div class="input-field col s12 m10 offset-m1 l6">
                                <input placeholder="DUI" name="dui-emp" id="dui-emp" type="text"
                                    class="validate inputs-añadirempr" required maxlength="10">
                                <label for="dui-emp" class="labels-anadirempr">DUI:</label>
                            </div>
                            <!--Correo del empleado-->
                            <div class="input-field col s12 m10 offset-m1 l6">
                                <input placeholder="Correo" name="correo-emp" id="correo-emp" type="email"
                                    class="validate  inputs-añadirempr" required>
                                <label for="correo-emp" class="labels-anadirempr">Correo</label>
                            </div>
                            <!--PIN de recuperación-->
                            <div class="input-field col s12 offset-m3 m6">
                                <input placeholder="Pin para restablecer contraseñas" type="text" id="pinRecP"
                                    name="pinRecP" class="inputs-añadirempr" required autocomplete="off">
                                <label for="pinRec" class="labels-anadirempr">PIN para restablecer contraseñas</label>
                            </div>
                            <!--Barra de carga-->
                            <div class="progress" id="barraraprg-garch">
                                <div class="indeterminate"></div>
                            </div>
                        </div>
                        <div class="row filabtn-añadirarh">
                            <div class="center">
                                <button type="submit" class="waves-effect waves-ligth btn z-depth-2"
                                    id="btn-añadirArchivoarhModal">
                                    <i class="material-icons left">add</i><span id="texto_guardar">Registrate
                                        ¡Jefe!</span>
                                </button>
                            </div>
                            <div class="row">
                                <!--Validación para verificar que los campos no estén vacios-->
                                <div class="left col s12 m7 l4 center-align mensaje-modal">
                                    <h6 id="mensaje-anadirarh">¡Verifique que los campos no esten vacios!</h6>
                                </div>
                                <!--Cargar preloader de añadir-->
                                <div class="center col s12 m3 l4" id="preloader-añadirarh">
                                    <div class="preloader-wrapper active">
                                        <div class="spinner-layer spinner-red-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--Añadir empleado-->

                </div>
            </div>
            <!--Modal para comprobar PIN del inicio de sessión-->
            <div id="modalVerificación" class="modal">
                <div class="modal-content">
                    <!--Titulo del modal-->
                    <h4 class="center-align">Confirma que eres tú</h4>
                    <!--Indicaciones del modal-->
                    <p class="center-align">Se te ha enviado un correo con un código de verificación a tu correo, por
                        favor colocarlo en el siguiente apartado:</p>
                    <p class="center-align">Si no lo ves, busca en SPAM</p>
                    <p class="center-align truncate "><b>Correo enviado a:</b><span id="correo-format"></span></p>
                    <!--Formulario para ingresar PIN-->
                    <form id="pin-inicio" autocomplete="off">
                        <!--Fila del formulario-->
                        <div class="row filaform-empresa">
                            <!--input de PIN-->
                            <div class="input-field col s12 m6 offset-m3 offset-l3">
                                <input placeholder="Ingrese el PIN" id="PIN-numerosI" type="password" maxlength="4"
                                    name="pin" class="validate center-align inputs-añadirempr">
                                <label for="PIN-numerosI" class="labels-anadirempr">Inserte
                                    los 4 digitos</label>
                            </div>
                            <div class="col m1 s12 center">
                                <i class="medium material-icons tooltipped " data-tooltip="Reenviar PIN"
                                    id="reenviarPIN">settings_backup_restore</i>
                                <p class="center-align"><span id="cronometro">120s</span></p>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <!--Campos o contenido importante de verificación de segundo factor-->
                        <div class="center">
                            <a class="waves-effect waves-ligth btn z-depth-2" id="btn-PINL">
                                <i class="material-icons left">enhanced_encryption</i>Verificar pin
                            </a>
                        </div>
                        <div class="row">
                            <div class="left col offset-s1 m5 l4">
                                <a class="waves-effect waves-ligth btn z-depth-2 modal-close cerrarModalEmpresa"
                                    id="cancelarPINL">
                                    <i class="material-icons left">keyboard_arrow_left</i>Cancelar
                                </a>
                            </div>
                            <div class="left col s12 m7 l4 center-align mensaje-modal">
                                <h6 id="mensaje-restablecerL">El PIN no es el correcto</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal para verificar el PIN de google Authenticator-->
            <!--Diseño del modal de creación de googleAthenticator-->
            <div id="gAuth_modal" class="modal">
                <div class="fondo-modaldatos modal-content">
                    <div class="center-align">
                        <h4>Tercer factor de verificación</h4>
                        <p>Porque lo has decidido, ingresa el codigo que esta en tu aplicación de google authenticator,
                            para verificar tu
                            identidad, recuerda que si te molesta, puedes desproteger tu cuenta deshabilitando este
                            factor de verificación
                            desde tu perfil una vez ingresado.
                        </p>
                    </div>
                    <!--Contenido del modal-->
                    <div class="row"></div>
                    <div class="row">
                        <div class="col s12">
                            <div class="row"><b>Coloque el pin de google Authenticator</b></div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="Código de autenticación" id="contraEmp_Auth" type="text"
                                        class="validate center-align inputs-añadirempr" name="contraEmp_Auth"
                                        maxlength="6" autocomplete="off">
                                    <label for="contraEmp_Auth" class="labels-anadirempr">Código del autenticador de
                                        Google</label>
                                </div>
                                <div class="col s12 center">
                                    <a class="waves-effect waves-ligth btn z-depth-2 btn-añadirFolderModal"
                                        id="generarQR_Auth"><i class="material-icons left">lock_open</i>Comprobar
                                    </a>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="col s12 truncate" id="QRC_Auth"></div>
                            </div>
                        </div>
                    </div>
                    <!--Pie del modal-->
                    <div class="modal-footer center-align" id="fondomodal-footer">
                        <div class="left col offset-s1 m5 l4">
                            <a class="waves-effect waves-ligth btn z-depth-2 modal-close cerrarModalEmpresa"
                                id="cancelar-Añadirfold">
                                <i class="material-icons left">keyboard_arrow_left</i>Cerrar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Preloader de carga-->
            <div class="preloader-wrapper big active" id="preloader-cargarJ">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="../resources/js/materialize.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../controllers/components.js"></script>
    <script type="text/javascript" src="../controllers/validaciones.js"></script>
    <script type="text/javascript" src="../controllers/index.js"></script>
</body>

</html>