  </div>
                        </div>
                    </div>
                    <!--Boton del modal-->
                    <div class="center-align">
                        <button type="submit" class="waves-effect waves-light btn center-align btn_estilizadoM">Generar
                            Gráfico</button>
                    </div>
                    <!--Pie del modal-->
                    <div class="left-align" id="fondomodal-footer">
                        <a class="modal-close waves-effect waves-light btn btn_estilizado">Cancelar</a>
                        <div class="col s12" id="decoracion-modal"></div>
                    </div>
                </form>
            </div>
        </div>
        <!--Diseño del modal de gráfica de los empleados con más archivos-->
        <div id="empleadoMasArchivos" class="modal">
            <div class="fondo-modaldatos modal-content">
                <form id="empleadoMasArchivos" method="post" enctype="multipart/form-data">
                    <div class="center-align">
                        <h4>Top 5 empleados de cierto tipo que han subido más archivos </h4>
                        <p>Indique el tipo de empleado; <b>si no se muestra la gráfica esque no posee ningún empleado de
                                cierto tipo escogido con al menos un archivo subido</b></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 offset-m3 center-align">
                            <select id="tipo-de-empleado" name="tipo-de-empleado">
                                <option value="" disabled selected>¿Qué tipo de empleado es?</option>

                            </select>
                            <!--Label sobre tipo de empleado-->
                            <label>Selecciona tipo de empleado</label>
                        </div>
                        <!--Fila de inputs-->
                        <!--Tipo de empleado-->

                    </div>
                    <!--Fila del grafico-->
                    <div class="row">
                        <div class="center-align col s12">
                            <div class="card-panel">
                                <canvas id="empleado_archivo_bar"></canvas>
                            </div>
                        </div>
                    </div>
                    <!--Preloader-->
                    <div class="preloader-wrapper active hide" id="preloder_folderR">
                        <div class="spinner-layer spinner-red-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <!--Boton del modal-->
                    <div class="center-align">
                        <button type="submit" class="waves-effect waves-light btn center-align btn_estilizadoM">Generar
                            Gráfico</button>
                    </div>
                    <!--Pie del modal-->
                    <div class="left-align" id="fondomodal-footer">
                        <a class="modal-close waves-effect waves-light btn btn_estilizado">Cancelar</a>
                        <div class="col s12" id="decoracion-modal"></div>
                    </div>
                </form>
            </div>
        </div>
        <!--Diseño del modal de número de archivos registrados por empresa-->
        <div id="numeroArcEmp" class="modal">
            <div class="fondo-modaldatos modal-content">
                <form id="empleadoMAForm" method="post" enctype="multipart/form-data">
                    <div class="center-align">
                        <h4>Número de archivos registrados en las empresas dentro de un rango de fechas</h4>
                        <p>Indique el rango a buscar; <b>si no se muestra la gráfica esque no posee ninguna empresa con
                                al
                                menos un archivo creado.</b></p>
                        <p>Por la comodidad del usuario solo se mostrarán las primeras 10 empresas de haber más de 10, ordenandolas por la cantida de archivos</p>
                    </div>
                    <div class="row">
                        <!--Fila de inputs-->
                        <div class="row">
                            <!--Rango inicial-->
                            <div class="input-field col s12 m6">
                                <input placeholder="Fecha inicial" id="fechagi" type="date"
                                    class="center-align inputs-añadirempr" name="fechagi">
                                <label for="rangoi" class="labels-anadirempr">Fecha inicial:</label>
                            </div>
                            <!--Ranfo final-->
                            <div class="input-field col s12 m6">
                                <input placeholder="Fecha final" id="fechagf" type="date" 
                                    class="center-align inputs-añadirempr" name="fechagf">
                                <label for="rangof" class="labels-anadirempr">Fecha final:</label>
                            </div>
                        </div>
                        <!--Fila del grafico-->
                        <div class="row">
                            <div class="center-align col s12">
                                <div class="card-panel">
                                    <canvas id="grf_linear2"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Preloader-->
                    <div class="preloader-wrapper active hide" id="preloder_folderR">
                        <div class="spinner-layer spinner-red-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <!--Boton del modal-->
                    <div class="center-align">
                        <button type="submit" class="waves-effect waves-light btn center-align btn_estilizadoM">Generar
                            Gráfico</button>
                    </div>
                    <!--Pie del modal-->
                    <div class="left-align" id="fondomodal-footer">
                        <a class="modal-close waves-effect waves-light btn btn_estilizado">Cancelar</a>
                        <div class="col s12" id="decoracion-modal"></div>
                    </div>
                </form>
            </div>
        </div>
        <!--Diseño del modal de empleados entre un rango de accesos-->
        <div id="numeroAccEmp" class="modal">
            <div class="fondo-modaldatos modal-content">
                <form id="numeroAccEmpForm" method="post" enctype="multipart/form-data">
                    <div class="center-align">
                        <h4>Empleados que poseen x números de accesos a las distintas empresas registradas</h4>
                        <p>Indique el rango a buscar; <b>si no se muestra la gráfica esque ningun empleado posee acceso. OJO los administradores no se cuentan
                            ya que ellos poseen acceso a todas las empresas.</b></p>
                        <p>Por la comodidad del usuario solo se mostrarán los primeros 10 empleados de haber más de 10, ordenandolos por la cantida de accesos entre el rango asignado</p>
                    </div>
                    <div class="row">
                        <!--Fila de inputs-->
                        <div class="row">
                            <!--Rango inicial-->
                            <!--Rango inicial-->
                            <div class="input-field col s12 m6">
                                <input placeholder="Rango inicial" id="rangoia" type="number" min="0"
                                    class="validate center-align inputs-añadirempr" name="rangoi">
                                <label for="rangoi" class="labels-anadirempr">Rango inicial:</label>
                            </div>
                            <!--Ranfo final-->
                            <div class="input-field col s12 m6">
                                <input placeholder="Rango final" id="rangofa" type="number" min="1"
                                    class="validate center-align inputs-añadirempr" name="rangof">
                                <label for="rangof" class="labels-anadirempr">Rango final:</label>
                            </div>
                        </div>
                        <!--Fila del grafico-->
                        <div class="row">
                            <div class="center-align col s12">
                                <div class="card-panel">
                                    <canvas id="grf_donut1"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Preloader-->
                    <div class="preloader-wrapper active hide" id="preloder_folderR">
                        <div class="spinner-layer spinner-red-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <!--Boton del modal-->
                    <div class="center-align">
                        <button type="submit" class="waves-effect waves-light btn center-align btn_estilizadoM">Generar
                            Gráfico</button>
                    </div>
                    <!--Pie del modal-->
                    <div class="left-align" id="fondomodal-footer">
                        <a class="modal-close waves-effect waves-light btn btn_estilizado">Cancelar</a>
                        <div class="col s12" id="decoracion-modal"></div>
                    </div>
                </form>
            </div>
        </div>
        <!--No borrar del codigo-->
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large " id="hasta_arriba">
                <i class="large material-icons">arrow_upward</i>
            </a>
            <ul>
        </div>
        <!--Diseño de logout-->
        <div id="cerrarSesionModal" class="modal">
            <div class="fondo-modaldatos modal-content">
                <div class="center-align">
                    <h4>Confirmación de cerrar sesión</h4>
                    <p>¿Desea cerrar sesión?</p>
                </div>
                <!--Contenido importante del modal-Boton de actualizar-->
                <div class="center-align">
                    <a class="waves-effect waves-light btn center-align" id="cerrarSesionModalbtn">Cerrar Sesión</a>
                </div>
                <!--Pie del modal-->
                <div class="modal-footer" id="fondomodal-footer">
                    <div class="left col offset-s1 m5 l4">
                        <a class="waves-effect waves-ligth btn z-depth-2 modal-close cancelarEliminarempre"
                            id="cancelar-cerrarSesion">
                            <i class="material-icons left">keyboard_arrow_left</i>Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Importación de librería para generar gráficos en tiempo real. Para más información https://www.chartjs.org/ -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    </main>
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="../resources/js/materialize.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../controllers/components.js"></script>
    <script type="text/javascript" src="../controllers/validaciones.js"></script>
    <script src="../controllers/online.js"></script>
    <script type="text/javascript" src="../controllers/inicio.js"></script>
</body>

</html>
