<!DOCTYPE html>
<html lang="es">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="../resources/css/styles.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <!--Importando las fuentes de google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!--Icono del sitio web-->
    <link rel="icon" href="../resources/icons/icono-web.png">
    <title>Inicio</title>
</head>

<body class="inicioJ">
    <header>
        <div class="navbar-fixed">
            <nav class="navbar-contenedor z-depth-3">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo center titulo-nav"><span>Archivos-subidos</span></a>
                    <a href="#" data-target="side-navbarcont" class="sidenav-trigger"><i
                            class="material-icons menuicon-navbar">menu</i></a>
                    <ul class="right hide-on-small-and-down opciones-navbar">
                        <li><a class="waves-effect waves-light tooltipped" data-position="bottom"
                                data-tooltip="Ver el perfil" href="login.html" id="username-navbar">User1<i
                                    class="material-icons right usericon-apartadot">person</i></a>
                        </li>
                        <li><a href="badges.html" class="logout-navbar tooltipped" data-position="bottom"
                                data-tooltip="Cerrar Sesión"><img class="responsive-img"
                                    src="../resources/icons/logout-icon-navbar.png"></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul id="side-navbarcont" class="sidenav sidenav-fixed">
            <li>
                <div class="icono-sidenav">
                    <img class="responsive-image" src="../resources/img/logo-sidenav.png">
                </div>
            </li>
            <li>
                <div class="menuopciones-sidenav">
                    <a class="row waves-effect  botones-sidenav" href="empleados.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/inicio-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Inicio
                        </div>
                    </a>
                    <a class="row waves-effect  botones-sidenav" href="empleados.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/empleados-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Empleados
                        </div>
                    </a>
                    <a class="row waves-effect  botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/archivossub-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Archivos Subidos
                        </div>
                    </a>
                    <a class="row waves-effect  botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img" src="../resources/icons/empresas-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav">
                            Empresas
                        </div>
                    </a>
                    <a class="row waves-effect hide-on-med-and-up botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img user-icon" src="../resources/icons/user-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav-nav">
                            <span>user1</span>
                        </div>
                    </a>
                    <a class="row waves-effect hide-on-med-and-up botones-sidenav" href="archivos-subidos.html">
                        <div class="col s6" id="icono-opcion-sidenav">
                            <img class="responsive-img user-icon" src="../resources/icons//logout-icon-sidenav.png">
                        </div>
                        <div class="col s6" id="texto-opcion-sidenav-nav">
                            Cerrar Sesión
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </header>
    <main>
        <div class="container">
            <!--Fila del la bievnida del usuario-->
            <div class="col offset-s3 s6 center-align" id="banner-saludo">
                <h5 id="saludo-usuario">Gráfica de ventas</h5>
            </div>
            <div class="col offset-s3 s6 center-align eliminarbtn">
                <h5>Gráficas parametrizadas</h5>
            </div>
            <div class="row eliminarbtn">
                <div class="col s12 m6 l6 center tooltipped" data-tooltip="Número de folders entre un rango">
                    <p>Número de folders entre un rango</p>
                    <a class="waves-effect waves-ligth btn z-depth-3 modal-trigger btn_estilizado" href="#foldersRango">
                        <i class="material-icons left">bar_chart</i>Abrir gráfica
                    </a>
                </div>
                <div class="col s12 m6 l6 tooltipped center" data-tooltip="Top 5 empleados con más archivos">
                    <p>Top 5 empleados con más archivos</p>
                    <a class="waves-effect waves-ligth btn z-depth-3 modal-trigger btn_estilizado" href="#empleadoMasArchivos">
                        <i class="material-icons left">bar_chart</i>Abrir gráfica
                    </a>
                </div>
            </div>
            <div class="row eliminarbtn">
                <div class="col s12 m6 l6 tooltipped center" data-tooltip="Número de archivos registrados en x fechas dentro de los folders">
                    <p>Número de archivos registrados en x fechas</p>
                    <a class="waves-effect waves-ligth btn z-depth-3 modal-trigger btn_estilizado" href="#numeroArcEmp">
                        <i class="material-icons left">bar_chart</i>Abrir gráfica
                    </a>
                </div>
                <div class="col s12 m6 l6 tooltipped center" data-tooltip="Gráfica de dona que muestra los empleados con accesos entre un rango asignado">
                    <p>Empleados con accesos a las empresas rango x</p>
                    <a class="waves-effect waves-ligth btn z-depth-3 modal-trigger btn_estilizado" href="#numeroAccEmp">
                        <i class="material-icons left">bar_chart</i>Abrir gráfica
                    </a>
                </div>
            </div>
            <div class="col offset-s3 s6 center-align">
                <h5>Gráficas informativas</h5>
            </div>
            <div class="row">
                <!--Gráficas-->
                <!--Gráfico de radio-->
                <div class="center-align col s12 m6 l6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <canvas id="grf_polar1"></canvas>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Número de empleados por tipo de
                                empleado<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Número de empleados por tipo de empleado<i
                                    class="material-icons right">close</i></span>
                            <p>Gráfica de barra que muestra la cantidad de empleados que hay por tipo de empleado.</p>
                        </div>
                    </div>
                </div>
                <!--Gráfica de barras-->
                <div class="center-align col s12 m6 l6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <canvas id="empresas_bar"></canvas>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Top 5 empresas con más archivos<i
                                    class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Top 5 empresas con más archivos<i
                                    class="material-icons right">close</i></span>
                            <p>Gráfica de barra que muestra las 5 empresas con más archvios subidos. <b>En caso de no mostrarse nada, asegurese 
                                de que hallan empresas y archivos almacenados en ellas.
                            </b></p>
                        </div>
                    </div>
                </div>
                <!--Gráfica de pie-->
                <div class="center-align col s12 m6 l6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <canvas id="folders_empresas_pie"></canvas>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Top 5 empresas con más folders<i
                                    class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Top 5 empresas con más folders<i
                                    class="material-icons right">close</i></span>
                            <p>Gráfica de barra que muestra la cantidad de empleados que hay por tipo de empleado.</p>
                        </div>
                    </div>
                </div>
                <!--Gráfica de linea-->
                <div class="center-align col s12 m6 l6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <canvas id="accesos_empresas_linea"></canvas>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Top 5 empresas con más accesos<i
                                    class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Top 5 empresas con más accesos<i
                                    class="material-icons right">close</i></span>
                            <p>Gráfica de linea que muestra las cinco empresas a las cuales más empleados posean acceso, recuerda que puedes anular los accesos de los empleados desde la pestaña empleados,
                                pero deberas eliminar el acceso de cada empleado uno por uno.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Diseño del modal de gráfica del rango de folders-->
        <div id="foldersRango" class="modal">
            <div class="fondo-modaldatos modal-content">
                <form id="foldersRango" method="post" enctype="multipart/form-data">
                    <div class="center-align">
                        <h4>Top 5 empresas que la cantidad de folder esten en un rango</h4>
                        <p>Indique el rango a buscar; <b>si no se muestra la gráfica esque no posee ninguna empresa con
                                al
                                menos un folder creado.</b></p>
                    </div>
                    <div class="row">
                        <!--Fila de inputs-->
                        <div class="row">
                            <!--Rango inicial-->
                            <div class="input-field col s12 m6">
                                <input placeholder="Rango inicial" id="rangoi" type="number" min="0"
                                    class="validate center-align inputs-añadirempr" name="rangoi">
                                <label for="rangoi" class="labels-anadirempr">Rango inicial:</label>
                            </div>
                            <!--Ranfo final-->
                            <div class="input-field col s12 m6">
                                <input placeholder="Rango final" id="rangof" type="number" min="1"
                                    class="validate center-align inputs-añadirempr" name="rangof">
                                <label for="rangof" class="labels-anadirempr">Rango final:</label>
                            </div>
                        </div>
                        <!--Fila del grafico-->
                        <div class="row">
                            <div class="center-align col s12">
                                <div class="card-panel">
                                    <canvas id="grf_polar2"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Preloader-->
                    <div class="preloader-wrapper active hide" id="preloder_folderR">
                        <div class="spinner-layer spinner-red-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <!--Boton del modal-->
                    <div class="center-align">
                        <button type="submit" class="waves-effect waves-light btn center-align btn_estilizadoM">Generar
                            Gráfico</button>
                    </div>
                    <!--Pie del modal-->
                    <div class="left-align" id="fondomodal-footer">
                        <a class="modal-close waves-effect waves-light btn btn_estilizado">Cancelar</a>
                        <div class="col s12" id="decoracion-modal"></div>
                    </div>
                </form>
            </div>
        </div>
        <!--Diseño del modal de gráfica de los empleados con más archivos-->
        <div id="empleadoMasArchivos" class="modal">
            <div class="fondo-modaldatos modal-content">
                <form id="empleadoMasArchivos" method="post" enctype="multipart/form-data">
                    <div class="center-align">
                        <h4>Top 5 empleados de cierto tipo que han subido más archivos </h4>
                        <p>Indique el tipo de empleado; <b>si no se muestra la gráfica esque no posee ningún empleado de
                                cierto tipo escogido con al menos un archivo subido</b></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 offset-m3 center-align">
                            <select id="tipo-de-empleado" name="tipo-de-empleado">
                                <option value="" disabled selected>¿Qué tipo de empleado es?</option>

                            </select>
                            <!--Label sobre tipo de empleado-->
                            <label>Selecciona tipo de empleado</label>
                        </div>
                        <!--Fila de inputs-->
                        <!--Tipo de empleado-->

                    </div>
                    <!--Fila del grafico-->
                    <div class="row">
                        <div class="center-align col s12">
                            <div class="card-panel">
                                <canvas id="empleado_archivo_bar"></canvas>
                            </div>
                        </div>
                    </div>
                    <!--Preloader-->
                    <div class="preloader-wrapper active hide" id="preloder_folderR">
                        <div class="spinner-layer spinner-red-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <!--Boton del modal-->
                    <div class="center-align">
                        <button type="submit" class="waves-effect waves-light btn center-align btn_estilizadoM">Generar
                            Gráfico</button>
                    </div>
                    <!--Pie del modal-->
                    <div class="left-align" id="fondomodal-footer">
                        <a class="modal-close waves-effect waves-light btn btn_estilizado">Cancelar</a>
                        <div class="col s12" id="decoracion-modal"></div>
                    </div>
                </form>
            </div>
        </div>
        <!--Diseño del modal de número de archivos registrados por empresa-->
        <div id="numeroArcEmp" class="modal">
            <div class="fondo-modaldatos modal-content">
                <form id="empleadoMAForm" method="post" enctype="multipart/form-data">
                    <div class="center-align">
                        <h4>Número de archivos registrados en las empresas dentro de un rango de fechas</h4>
                        <p>Indique el rango a buscar; <b>si no se muestra la gráfica esque no posee ninguna empresa con
                                al
                                menos un archivo creado.</b></p>
                        <p>Por la comodidad del usuario solo se mostrarán las primeras 10 empresas de haber más de 10, ordenandolas por la cantida de archivos</p>
                    </div>
                    <div class="row">
                        <!--Fila de inputs-->
                        <div class="row">
                            <!--Rango inicial-->
                            <div class="input-field col s12 m6">
                                <input placeholder="Fecha inicial" id="fechagi" type="date"
                                    class="center-align inputs-añadirempr" name="fechagi">
                                <label for="rangoi" class="labels-anadirempr">Fecha inicial:</label>
                            </div>
                            <!--Ranfo final-->
                            <div class="input-field col s12 m6">
                                <input placeholder="Fecha final" id="fechagf" type="date" 
                                    class="center-align inputs-añadirempr" name="fechagf">
                                <label for="rangof" class="labels-anadirempr">Fecha final:</label>
                            </div>
                        </div>
                        <!--Fila del grafico-->
                        <div class="row">
                            <div class="center-align col s12">
                                <div class="card-panel">
                                    <canvas id="grf_linear2"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Preloader-->
                    <div class="preloader-wrapper active hide" id="preloder_folderR">
                        <div class="spinner-layer spinner-red-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <!--Boton del modal-->
                    <div class="center-align">
                        <button type="submit" class="waves-effect waves-light btn center-align btn_estilizadoM">Generar
                            Gráfico</button>
                    </div>
                    <!--Pie del modal-->
                    <div class="left-align" id="fondomodal-footer">
                        <a class="modal-close waves-effect waves-light btn btn_estilizado">Cancelar</a>
                        <div class="col s12" id="decoracion-modal"></div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Importación de librería para generar gráficos en tiempo real. Para más información https://www.chartjs.org/ -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    </main>
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="../resources/js/materialize.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../controllers/components.js"></script>
    <script type="text/javascript" src="../controllers/validaciones.js"></script>
    <script src="../controllers/online.js"></script>
    <script type="text/javascript" src="../controllers/inicio.js"></script>
</body>

</html>
