<!DOCTYPE html>
<html lang="es">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="../resources/css/styles.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <!--Importando las fuentes de google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!--Icono del sitio web-->
    <link rel="icon" href="../resources/icons/icono-web.png">
    <title>Visualizador de reportes</title>
</head>

<body id="perfil-fondo">
    <!--Comienzo del navbar-->
    <header>
        <div class="navbar-fixed">
            <nav class="navbar-contenedorLogin z-depth-3 center-align">
                <div class="icono-login">
                    <img class="responsive-image " src="../resources/img/logo-login2.png">
                </div>
            </nav>
        </div>
    </header>

    <main>
        <button class="btn-flat waves-effect waves-light btn-volver" type="submit" name="action"
            id="regresarbtn-perfil">Volver |
            <i class="material-icons right">home</i>
        </button>
        <!--Contenido principal-->
        <div class="row">
            <div class="col s10 l3 center-align reporte_title">
                Reporte de: <span></span>
            </div>
        </div>
        <!--No borrar del codigo-->
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large " id="hasta_arriba">
                <i class="large material-icons">arrow_upward</i>
            </a>
        </div>
    </main>

    <footer>

    </footer>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../resources/js/materialize.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../controllers/components.js"></script>
    <script type="text/javascript" src="../controllers/validaciones.js"></script>
    <script type="text/javascript" src="../controllers/temp.js"></script>
</body>

</html>