html {
  scrollbar-width: normal;
  scrollbar-color: #f4a172;
}
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f1f5f9;
  font-family: "Poppins", sans-serif;
}
main {
  margin-left: 19.5%;
}
footer {
  margin-left: 19.5%;
}
/*Inicio de estilos para el sidenav*/
/*side-nav*/
#side-navbarcont {
  background-color: #f4a172;
}
.scrollbar {
  background-color: #f5f5f5;
  float: left;
  height: 300px;
  margin-bottom: 25px;
  margin-left: 22px;
  margin-top: 40px;
  width: 65px;
  overflow-y: scroll;
}

.force-overflow {
  min-height: 450px;
}

/*Logo*/
.icono-sidenav {
  padding: 15px;
  margin-top: 20%;
}
/*menu sidenav*/
.menuopciones-sidenav {
  margin: 25% 5% 0 5%;
}
/*botones del sidenav*/
.botones-sidenav {
  height: 70px;
  width: 100%;
  margin-bottom: 65px;
  transition: 0.2s ease all;
}
/*estilo del boton al estar siendo apuntado*/
.botones-sidenav:hover {
  border: 4px solid #fa7479;
  background-color: rgb(84, 84, 84, 35%);
  background-blend-mode: soft-light;
  transform: scale(1);
}
/*Icono del boton sidenav*/
#icono-opcion-sidenav {
  margin: 0;
  padding: 0;
}
/*Texto del boton sidenav*/
#texto-opcion-sidenav {
  margin: 0;
  padding: 0;
  position: relative;
  top: 25%;
  right: 15%;
  color: black;
  font-weight: bold;
}
/*Fin de estilos del sidenav*/
/*Inicio de estilos del navbar*/
/*Estilo del titulo del apartado en el navbar*/
.titulo-nav {
  margin-left: 9%;
}
/*Span del titulo del apartado en el navbar*/
.titulo-nav span {
  color: black;
  font-weight: bold;
}
/*Icono del usuario en el navbar*/
.usericon-apartadot {
  color: black;
}
/*Contenedor del navbar*/
.navbar-contenedor {
  background-color: white;
}
/*Texto dentro del navbar*/
.navbar-contenedor a {
  color: #8d8888;
}
/*Icono del menu del trigger del sidenav para mobiles y tablets*/
.menuicon-navbar {
  color: black;
}
/*Estilo del icono de logout del navbar*/
.logout-navbar {
  height: 65px;
  padding-top: 10px;
}
/*Contenedor de las opciones del navbar*/
.opciones-navbar {
  position: relative;
  right: 5%;
}
/*Fin de inicios del navbar*/
/*Inicio de estilos del footer*/
/*Contenedor de los botones de navegación footer*/
#contenedor-botonnavg {
  padding: 0;
  position: relative;
  right: 25px;
}
#contenedor-botonnavg:hover {
  transform: scale(1.2);
}
/*boton de navegación del footer*/
.botonnavg-footer {
  margin: 5px;
  background-color: #f4a172;
  width: 50px;
  color: white;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}
/*Icono dentro del contenedor del menu de navegación del footer*/
.botonnavg-footer i {
  position: relative;
  right: 5px;
  bottom: 5px;
  color: white;
}
/*Span dentro del contenedor del menu de navegación del footer*/
.botonnavg-footer span {
  font-size: 30px;
  color: white;
}
/*Fin de inicios de estilos del footer*/
/*Estilo del boton de hacia arriba*/
#hasta_arriba {
  background-color: #fa7479;
  display: none;
  transition: 0.2s;
}
/*Estilos extra responsive*/
/*Telefonos*/
@media (max-width: 600px) {
  /*Solucionando main*/
  /*Solucionando el main*/
  main {
    margin-left: 0;
    padding-left: 0;
  }
  /*Solucionando el footer*/
  footer {
    margin-left: 0;
  }
  /*menu sidenav*/
  .menuopciones-sidenav {
    margin: 0% 5% 0 5%;
  }
  /*botones del sidenav*/
  .botones-sidenav {
    margin-bottom: 10px;
  }
  /*icono de usuario en el sidenav*/
  #icono-opcion-sidenav .user-icon {
    position: relative;
    left: 10%;
  }
  /*texto del sidenav sobre los componentes que eran del navbar*/
  #texto-opcion-sidenav-nav {
    margin: 0;
    padding: 0;
    position: relative;
    right: 15%;
    color: black;
    font-weight: bold;
  }
  /*Estilo del titulo del apartado en el navbar*/
  .titulo-nav {
    margin-left: 0;
  }
  /*Span del titulo del apartado en el navbar*/
  .titulo-nav span {
    font-size: 20px;
  }
  /*Estilo del boton de hacia arriba*/
  #hasta_arriba {
    background-color: #fa7479;
    display: none;
    transition: 0.2s;
    margin-bottom: 75px;
  }
}

/*Tablets*/
@media screen and (min-width: 600px) and (max-width: 992px) {
  /*Solucionando el main*/
  main {
    margin-left: 0;
  }
  /*Solucionando el footer*/
  footer {
    margin-left: 0;
  }
  /*Logo*/
  .icono-sidenav {
    padding: 15px;
    margin-top: 15%;
  }
  /*opciones del contenedor de los botones del sidenav*/
  .menuopciones-sidenav {
    margin: 0% 5% 0 5%;
  }
  /*botones del sidenav*/
  .botones-sidenav {
    margin-bottom: 10px;
  }
  /*Estilo del titulo del apartado en el navbar*/
  .titulo-nav {
    margin-left: 0;
  }
  /*Estilo de las opciones del navbar*/
  .opciones-navbar {
    position: relative;
    left: 5px;
  }
}

/*Scroll personalizado*/
#side-navbarcont::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
#side-navbarcont::-webkit-scrollbar-thumb {
  background-color: #f4a27298;
}
#side-navbarcont::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  margin-bottom: 250px;
}

/* Página de Archivos Subidos */
.file-searcher {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.file-searcher #input-file {
  margin-left: 12px;
}

.file-searcher img {
  width: 32px;
  height: 32px;
}

.upload-files {
  margin-top: 28px;
}

.btn-add {
  background-color: #fa7479;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-transform: initial;
}

.btn-add:hover,
.btn-add:focus {
  background-color: #fa7478c7;
}

.direction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.direction p {
  font-size: 18px;
}
.direction img {
  width: 27px;
  height: 36px;
  margin: 0 10px 2px 10px;
}

/*Search Bar with Auto Complete*/
.wrapper {
  max-width: 450px;
  
  margin: 0 auto;
}

.search-box {
  background-color: #ffffff;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.25);

  border-radius: 5px;
}

#company-searcher {
  margin-top: 15px;
  padding: 4px;
}

#company-searcher::placeholder {
  color: #000;
  opacity: 1;
  font-family: "Poppins", sans-serif;
}

.wrapper .search-input {
  background-color: #fff;

  width: 100%;
  padding: 10px 10px 30px 10px;

  border-radius: 5px;
}

#company-searcher {
  border-bottom: 0 solid #000;
  font-size: 18px;
}

.autocom-box {
  background-color: #f1f5f9;
  border-radius: 8px;
}

.autocom-box li {
  font-size: 18px;
  list-style: none;
  padding: 8px 10px 2px 10px;
}

#company-searcher:focus {
  border-bottom: 0px solid #fa7479;
  box-shadow: 0 0px 0 0 #fff;
}

#company-searcher:focus + label {
  color: #fff;
}

.company-search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #f4a172;
  max-height: 55px;
  margin-bottom: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
}

.company-search-box img {
  width: 30px;
  margin: 2px 5px 0 0;
}
